#wrapper{
    
    margin: auto;
    width: 992px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
}

#header{
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    width: auto;
    height: 120px;
}

.head{
    display: inline-block;
    vertical-align: top;
    height: 115px;
}

#logo_image_div{
    margin-right: 300px;
}

#contact{
    margin-top: 5px;
}
.contact{
    margin-top: 0px;
    margin-bottom: 10px;
}

#logo{
    height: auto;
    width: 260px;
}

#header_para{
    margin-bottom: 0px;
}

#location_work{
    width: 380px;
    height: 20px;
}

#date_work_performed {
    width: 340px;
    height: 20px;
}

#work_performed{
    margin-top: 5px;
    line-height: 3.1ch;    
}

#material{
    margin-bottom: 10px;
}

#material p{
    color: #F5821E;
    font-size: 11pt;
}

#other_material_message {
    color: #F5821E;
    font-size: 11pt;
}
.signator_name{
    width: 250px;
}

#labor_header{
    height: 35px;
}

#material_table tr th{
    padding: 5px;
    text-align: center;
    width: 40%;
}

#material_table {
    text-align: center;
    width: 40%;
  }

  #mat_quantity{
      margin-right: 12px;
  }

  #measurement_amount{
      width: 100px;
  }

  #other_material_table {
    text-align: center;
    width: 40%;
  }

  #other_material_table tr th{
    padding: 5px;
    text-align: center;
    width: 40%;
}

#other_quantity{
    margin-right: 12px;
}
#labor_table_master {
    text-align: center;
    width: 40%;
  }


  #labor_table_master tr th{
    padding: 5px;
    text-align: center;
    width: 40%;
}


  #other_name{
    width: 557px;
}

#other_measurement{
    width: 71px;
}

#labor_description{
    width: 250px;
    margin-left: 15px;
    margin-right: 10px;
}

#employee_numbers{
    width: 95px;
    margin-left: 10px;
    margin-right: 10px;
}

#regular_hours{
    width: 95px;
    margin-left: 10px;
    margin-right: 10px;
}

#premium_hours{
    width: 95px;
    margin-left: 10px;
    margin-right: 10px;
}

#double_hours{
    width: 95px;
    margin-left: 10px;
    margin-right: 10px;
}

#other_measurement_amount{
    width: 100px;
}

.select2-container .select2-selection--single {
    height: 24px!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 24px!important;
}
#TY{
    color: #F5821E;
    font-size: 11pt;
}

#TY2{
    color: #F5821E;
    font-size: 11pt;
}

button {
    display: inline-block;
    margin-right: 20px;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #F5821E;
    text-align:center;
}

button:hover{
    border-color: rgba(255,255,255,1);
}

button a{
    color: #F5821E;
    text-decoration: none;
}

#save1{
    display: inline-block;
    margin-right: 20px;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #F5821E;
    text-align:center;
}

#save2{
    display: inline-block;
    margin-right: 20px;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #F5821E;
    text-align:center;
}

#save1:hover{
    border-color: rgba(255,255,255,1);
}

#save2:hover{
    border-color: rgba(255,255,255,1);
}

#submit_button{
    display: inline-block;
    margin-right: 20px;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #F5821E;
    text-align:center;
}

#submit_button:hover{
    border-color: rgba(255,255,255,1);
}


/* This is for creating the job linked to jobname.html */
#form_1{
    display: block;
}