<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create & View Jobs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'jobname.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h2>Create Project/Job</h2>
        </div>
        <button><a href="/">Creating a New Extra Work Order</a></button>
        <button><a href="/workorder">Back to All Extra Work Orders</a></button>
        <div id="form_1">
            <form action="/create_new_material" method="post">
                {% csrf_token %}
               Location: <input type="text" name="location" id="location"><br><br>
                Product Name: <input type="text" name="product_name" id="product_name"><br><br>
                Unit: <input type="text" name="unit_of_measurement" id="unit_of_measurement"><br><br>
                Price: <input type="text"  name="price" placeholder="0.89" id="price"><br><br>
                <input id="create_button" type="submit" value="Create Material">
            </form>
        </div>
        <div id="upload_material">
            <p><form action="/upload_material" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file1">Bulk Upload Materials</label>
                <input type="file" id="file1" name="file">
                <small>Only accepts CSV files</small>
                <input style="background-color: #EFEFEF !important; font-weight: bold;" id="submit_button" type="submit" value="Upload">
            </form></p>
            <p><button><a href="/deleteallmaterials">Delete All</a></button>&#160;&#160;<button><a href="/download_all_material">Download Material Report</a></button>&#160;&#160; <button><a href="/download_material_template">Download Material Upload Template</a></button></p>
        </div>
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Location</th>
                    <th>Product Name</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for one_material in all_material_names reversed %}
                <form action="/edit_material_info/{{one_material.id}}" method="post">
                <tr>
                    <td>{{one_material.id}}</td>
                    <td><input type="text" name="edit_mat_location" value="{{one_material.location}}" id="edit_mat_location"></td>
                    <td><input type="text" name="edit_mat_name" value="{{one_material.product_name}}" id="edit_mat_name"></td>
                    <td><input type="text" name="edit_mat_unit_measurement" value="{{one_material.unit_of_measurement}}" id="edit_mat_unit_measurement"></td>
                    <td><input type="text" name="edit_mat_price" value="{{one_material.price}}" class="edit_mat_price" id="edit_mat_price_{{one_material.id}}"></td>
                    <td><button type="submit">Edit</button></td>
                    <td><button><a href="/delete_material_db/{{one_material.id}}">Delete Material</a></button></td>
                </tr>

                {% endfor %}
                <p id="count_rows" hidden>{{all_material_names.count}}</p>
            </table>
        </div>
    </div>
    <script>
        $("#price").on("input", function(evt) {
            var self = $(this);
            self.val(self.val().replace(/[^0-9\.]/g, ''));
            if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) 
            {
                evt.preventDefault();
            }
            });

            $(".edit_mat_price").on("input", function(evt) {
            var self = $(this);
            self.val(self.val().replace(/[^0-9\.]/g, ''));
            if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) 
            {
                evt.preventDefault();
            }
            });

            function pricing(){
                total_rows = document.getElementById('count_rows').innerHTML
                for(var i =0; i < total_rows; i++ ){
                    $(".edit_mat_price").on("input", function(evt) {
                    var self = $(this);
                    self.val(self.val().replace(/[^0-9\.]/g, ''));
                    if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) 
                    {
                        evt.preventDefault();
                    }
                    });
                }
            }
            pricing()
    </script>
</body>

</html>