<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra Work Order Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'createorder.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"
        defer></script>
</head>

<body>
    <div id="wrapper">
        <!-- Start This is where the logo and contact info is embedded -->
        <div id="header">
            <div class="head" id="logo_image_div">
                <a href="/"><img id="logo" src="{% static 'logobelcon.png' %}" alt="This is the logo"></a>
            </div>
            <div class="head" id="contact">
                <p class="contact">147 Roseland Ave</p>
                <p class="contact">Caldwell, NJ 07006</p>
                <p class="contact">P (973) 396-1336</p>
            </div>
        </div>

        <div id="links">
            {% if request.session.secret_code == "FGadmin!" %}
            <button class="thelinks"><a href="/workorder">Admin View</a></button>
            {% else %}
            <button class="thelinks"><a href="/myworkorders/{{request.session.user_id}}">My Work Orders</a></button>
            {% endif %}
            <button class="thelinks"><a href="/logout">Logout</a></button>
        </div> <br>

        <!-- End This is where the logo and contact info is embedded -->
        <p>Hi {{request.session.user_fname}}! You are about to create a new work order</p><br>
        
        <!-- Start - Master Div for creating work order -->
        <div id="create_order">
            <form action="/create_order" method="post">
                {% csrf_token %}
                Job/Project Name: <select class="job_list" name="contractor">
                    {% for one_job in all_jobs %}
                    <option value="{{one_job.id}}">Job Name: {{one_job.name}} &#160;&#160;&#160;&#160; General Contractor:
                        {{one_job.contractor_name}}</option>
                    {% endfor %}
                </select> <br> <br>
                Location of Work Performed: <input type="text" name="location" id="location_work"> <br> <br>
                Work Performed: <br>
                <textarea name="work_performed" id="work_performed" cols="70" rows="8"></textarea><br>

                <!-- Start - This is the div for adding material to the work order. Material can be on many work orders -->
                <div id="material">
                    <h3>Material:</h3>
                    <p id="material_message">Input quantity (number format) and product used below. To add more
                        materials, click on the button.</p>
                    <table id="material_table">
                        <tr>
                            <th>Quantity</th>
                            <th>Product</th>
                        </tr>
                        <tr>
                            <td><input type="number" name="quantity1"></td>
                            <td><select name="product1" class="material_list">
                                <option value="2&quot; Z furring  20 gauge ">Location: Framing&#160;&#160;&#160;&#160;Product: 2" Z furring  20 gauge </option>
                            </select>
                            </td>
                        </tr>
                    </table><br>
                    <button type="button" id="add_material">Add another material</button>
                </div><br>
                <div id="other_material">
                    <h3>Other Material:</h3>
                    <p id="other_material_message">If you are unable to find your material from the dropdown, please input below. </p>
                    <table id="other_material_table">
                        <tr>
                            <th>Quantity</th>
                            <th>Product</th>
                        </tr>
                        <tr>
                            <td><input type="number" name="other_quantity"></td>
                            <td><input type="tex" name="other_name"></td>
                            </td>
                        </tr>
                    </table><br>
                    
                </div>
                <!-- End - This is the div for adding material to the work order. Material can be on many work orders -->

                <!-- Start - This is the div for adding labor type to the work order. One labor type can be on many work orders -->
                <div id="labor_type">
                    <table>
                        <tr id="labor_header">
                            <th>Labor</th>
                            <th># of Employees</th>
                            <th>Regular Hours</th>
                            <th>Over Hours</th>
                            <th>Doubletime Hours</th>
                        </tr>
                        <tr>
                            <input hidden type="text" name="labor_type_cf" value="Carpenter - Foreman" id="">
                            <td>Carpenter - Forman</td>
                            <td><input type="number" name="employee_numbers_cf" id=""></td>
                            <td><input type="number" name="regular_hours_cf" id=""></td>
                            <td><input type="number" name="over_hours_cf" id=""></td>
                            <td><input type="number" name="double_hours_cf" id=""></td>
                        </tr>
                        <tr>
                            <input hidden type="text" name="labor_type_cj" value="Carpenter - Journeyman" id="">
                            <td>Carpenter - Journeyman</td>
                            <td><input type="number" name="employee_numbers_cj" id=""></td>
                            <td><input type="number" name="regular_hours_cj" id=""></td>
                            <td><input type="number" name="over_hours_cj" id=""></td>
                            <td><input type="number" name="double_hours_cj" id=""></td>
                        </tr>
                        <tr>
                            <input hidden type="text" name="labor_type_tj" value="Taper - Journeyman" id="">
                            <td>Taper Journeyman</td>
                            <td><input type="number" name="employee_numbers_tj" id=""></td>
                            <td><input type="number" name="regular_hours_tj" id=""></td>
                            <td><input type="number" name="over_hours_tj" id=""></td>
                            <td><input type="number" name="double_hours_tj" id=""></td>
                        </tr>
                        <tr>
                            <input hidden type="text" name="labor_type_tf" value="Taper - Formeman" id="">
                            <td>Taper - Foreman</td>
                            <td><input type="number" name="employee_numbers_tf" id=""></td>
                            <td><input type="number" name="regular_hours_tf" id=""></td>
                            <td><input type="number" name="over_hours_tf" id=""></td>
                            <td><input type="number" name="double_hours_tf" id=""></td>
                        </tr>
                        <tr>
                            <input hidden type="text" name="labor_type_l" value="Laborer" id="">
                            <td>Laborer</td>
                            <td><input type="number" name="employee_numbers_l" id=""></td>
                            <td><input type="number" name="regular_hours_l" id=""></td>
                            <td><input type="number" name="over_hours_l" id=""></td>
                            <td><input type="number" name="double_hours_l" id=""></td>
                        </tr>
                        <tr>
                            <input hidden type="text" name="labor_type_s" value="Supervisor" id="">
                            <td>Supervisor</td>
                            <td><input type="number" name="employee_numbers_s" id=""></td>
                            <td><input type="number" name="regular_hours_s" id=""></td>
                            <td><input type="number" name="over_hours_s" id=""></td>
                            <td><input type="number" name="double_hours_s" id=""></td>
                        </tr>
                    </table>
                </div><br>
                <!-- End - This is the div for adding labor type to the work order. One labor type can be on many work orders -->

                <!-- 1) Start of the signature div for general contractor   -->
                <div>
                    <div id="canvas_1">
                        Name of General Contractor Signing: <input type="text" name="signator_1" class="signator_name"
                            id="signator_1" placeholder="Please print your name."><br><br>
                        <!-- Start This is the canvas functionality -->
                        <img hidden src="" id="imgConverted"
                            style="float: left; background: none; border: 2px solid blue ;" alt="This is the signature">
                        <canvas id="canvas" style="border:black solid 1px;"></canvas>

                        <!-- End This is the canvas functionality -->

                        <!-- Start This is the div for the clear signature and save signature -->

                        <!-- End This is the div for the clear signature and save signature -->
                    </div><br>
                    <p id="TY" hidden>General Contractor has successfully signed!</p>
                    <button type="button" onclick="myFunction()">Clear & Re-Sign</button>
                    <input onclick="saveSignature()" type="button" id="save1" value="Save Signature">
                </div><br><br>

                <div>
                    <div id="canvas2">
                        Name of Belcon Foreman Signing: <input type="text" name="signator_2" class="signator_name"
                            id="signator_2" placeholder="Please print your name."><br><br>
                        <!-- Start This is the canvas functionality -->
                        <img hidden src="" id="imgConverted2"
                            style="float: left; background: none; border: 2px solid blue ;" alt="This is the signature">
                        <canvas id="canvas_2" style="border:black solid 1px;"></canvas>
                        <!-- End This is the canvas functionality -->

                        <!-- Start This is the div for the clear signature and save signature -->

                        <!-- End This is the div for the clear signature and save signature -->
                    </div><br>
                    <p id="TY2" hidden>Belcon foreman has successfully signed!</p>
                    <button type="button" onclick="myFunction1()">Clear & Re-Sign</button>
                    <input onclick="saveSignature2()" type="button" id="save2" value="Save Signature">
                </div>

                <!-- 1) End of the signature div general contractor   -->
                <input type="hidden" name="signature_1" value="" id="sign1"><br>
                <input type="hidden" name="signature_2" value="" id="sign2"><br>
                <input type="hidden" name="material_count" value="1" id="material_count">
                <input id="submit_button" type="submit" value="Create Work Order"><br>
            </form>
        </div>
        <!-- End - Master div for creating work order -->


    </div>


    <!-- Start This is the javascript for the signature and other functions -->
    <script>

        // start jquery for searchable dropdown 


        // end jquery for searchable dropdown 

        var canvas = document.getElementById("canvas"),
            ctx = canvas.getContext("2d"),
            painting = false,
            lastX = 0,
            lastY = 0,
            lineThickness = 1;

        canvas.width = 500;
        canvas.height = 150;
        ctx.fillRect(0, 0, 0, 0);

        function myFunction() {
            ctx.clearRect(0, 0, ctx.canvas.width, ctx.canvas.height);
            ctx.beginPath();

        }

        canvas.onmousedown = function (e) {
            painting = true;
            ctx.fillStyle = "#000000";
            lastX = e.pageX - this.offsetLeft;
            lastY = e.pageY - this.offsetTop;
        };

        canvas.onmouseup = function (e) {
            painting = false;
        }

        canvas.onmousemove = function (e) {
            if (painting) {
                mouseX = e.pageX - this.offsetLeft;
                mouseY = e.pageY - this.offsetTop;

                // find all points between        
                var x1 = mouseX,
                    x2 = lastX,
                    y1 = mouseY,
                    y2 = lastY;


                var steep = (Math.abs(y2 - y1) > Math.abs(x2 - x1));
                if (steep) {
                    var x = x1;
                    x1 = y1;
                    y1 = x;

                    var y = y2;
                    y2 = x2;
                    x2 = y;
                }
                if (x1 > x2) {
                    var x = x1;
                    x1 = x2;
                    x2 = x;

                    var y = y1;
                    y1 = y2;
                    y2 = y;
                }

                var dx = x2 - x1,
                    dy = Math.abs(y2 - y1),
                    error = 0,
                    de = dy / dx,
                    yStep = -1,
                    y = y1;

                if (y1 < y2) {
                    yStep = 1;
                }

                lineThickness = 5 - Math.sqrt((x2 - x1) * (x2 - x1) + (y2 - y1) * (y2 - y1)) / 10;
                if (lineThickness < 1) {
                    lineThickness = 1;
                }

                for (var x = x1; x < x2; x++) {
                    if (steep) {
                        ctx.fillRect(y, x, lineThickness, lineThickness);
                    } else {
                        ctx.fillRect(x, y, lineThickness, lineThickness);
                    }

                    error += de;
                    if (error >= 0.5) {
                        y += yStep;
                        error -= 1.0;
                    }
                }



                lastX = mouseX;
                lastY = mouseY;

            }

        }
        function saveSignature() {
            var dataURI = canvas.toDataURL("image/png");
            sign1.value = dataURI;
            imgConverted.src = dataURI;
        }

        $('#save1').click(function () {
            $('#canvas_1').toggle();
            document.getElementById("TY").hidden = false;
        });

        // Javascript for the second canvas
        var canvas_2 = document.getElementById("canvas_2"),
            context = canvas_2.getContext("2d"),
            painting = false,
            lastX = 0,
            lastY = 0,
            lineThickness = 1;

        canvas_2.width = 500;
        canvas_2.height = 150;
        context.fillRect(0, 0, 0, 0);

        function myFunction1() {
            context.clearRect(0, 0, context.canvas.width, context.canvas.height);
            context.beginPath();


        }

        canvas_2.onmousedown = function (e) {
            painting = true;
            context.fillStyle = "#000000";
            lastX = e.pageX - this.offsetLeft;
            lastY = e.pageY - this.offsetTop;
        };

        canvas_2.onmouseup = function (e) {
            painting = false;
        }

        canvas_2.onmousemove = function (e) {
            if (painting) {
                mouseX = e.pageX - this.offsetLeft;
                mouseY = e.pageY - this.offsetTop;

                // find all points between        
                var x1 = mouseX,
                    x2 = lastX,
                    y1 = mouseY,
                    y2 = lastY;


                var steep = (Math.abs(y2 - y1) > Math.abs(x2 - x1));
                if (steep) {
                    var x = x1;
                    x1 = y1;
                    y1 = x;

                    var y = y2;
                    y2 = x2;
                    x2 = y;
                }
                if (x1 > x2) {
                    var x = x1;
                    x1 = x2;
                    x2 = x;

                    var y = y1;
                    y1 = y2;
                    y2 = y;
                }

                var dx = x2 - x1,
                    dy = Math.abs(y2 - y1),
                    error = 0,
                    de = dy / dx,
                    yStep = -1,
                    y = y1;

                if (y1 < y2) {
                    yStep = 1;
                }

                lineThickness = 5 - Math.sqrt((x2 - x1) * (x2 - x1) + (y2 - y1) * (y2 - y1)) / 10;
                if (lineThickness < 1) {
                    lineThickness = 1;
                }

                for (var x = x1; x < x2; x++) {
                    if (steep) {
                        context.fillRect(y, x, lineThickness, lineThickness);
                    } else {
                        context.fillRect(x, y, lineThickness, lineThickness);
                    }

                    error += de;
                    if (error >= 0.5) {
                        y += yStep;
                        error -= 1.0;
                    }
                }



                lastX = mouseX;
                lastY = mouseY;

            }

        }
        function saveSignature2() {
            var dataURI2 = canvas_2.toDataURL("image/png");
            sign2.value = dataURI2;
            imgConverted2.src = dataURI2;
        }

        $('#save2').click(function () {
            $('#canvas2').toggle();
            document.getElementById("TY2").hidden = false;
        });

        $(document).ready(function () {
            $('.job_list').select2();
        });

        $(document).ready(function () {
            $('.material_list').select2();
        });


        $('#add_material').click(function (e) {
            $('#material_count').attr('value', Number($('#material_count').attr('value')) + 1)
            var i = Number($('#material_count').attr('value'))
            $('#material_table').append(`<tr> <td><input type="number" name="quantity${i}" id=""></td> <td><select name="product${i}" class="material_list">
                                <option value="material_1">Material_111111111111</option>
                                <option value="material_2">Material_2</option>
                                <option value="material_3">Material_3</option>
                                <option value="material_4">Material_4</option>
                                <option value="2&quot; Z furring  20 gauge ">Location: Framing&#160;&#160;&#160;&#160;Product: 2" Z furring  20 gauge </option>
                            </select>
                            </td> </tr>`)
            $(document).ready(function () {
            $('.material_list').select2();
        });
        })




    </script>
    <!-- End This is the javascript for the signature -->
</body>

</html>