<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Extra Work Order</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'createorder.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"
        defer></script>
</head>

<body>
    <div id="wrapper">
        <!-- Start This is where the logo and contact info is embedded -->
        <div id="header">
            <div class="head" id="logo_image_div">
                <a href="/"><img id="logo" src="{% static 'logobelcon.png' %}" alt="This is the logo"></a>
            </div>
            <div class="head" id="contact">
                <p class="contact">147 Roseland Ave</p>
                <p class="contact">Caldwell, NJ 07006</p>
                <p class="contact">P (973) 396-1336</p>
            </div>
        </div>

        <div id="links">
            {% if request.session.secret_code == "FGadmin!" %}
            <button style="background-color: #EFEFEF!important;" class="thelinks"><a style="font-weight: bold!important;" href="/workorder">Admin View</a></button>
            {% else %}
            <button style="background-color: #EFEFEF!important;" class="thelinks"><a style="font-weight: bold!important;" href="/myworkorders/{{request.session.user_id}}">My Work Orders</a></button>
            <button style="background-color: #EFEFEF!important;" class="thelinks"><a style="font-weight: bold!important;" href="/reset_password">Reset Password</a></button>
            {% endif %}
            <button style="background-color: #EFEFEF!important;" class="thelinks"><a  style="font-weight: bold!important;" href="/logout">Logout</a></button>
        </div> <br>

        <!-- End This is where the logo and contact info is embedded -->
        <p id="header_para">Hi {{request.session.user_fname}}! You are about to create a new work order</p><br>
        
        <!-- Start - Master Div for creating work order -->
        <div id="create_order">
            <form action="/create_order" method="post">
                {% csrf_token %}
                Job/Project Name: <select class="job_list" name="contractor">
                    {% for one_job in all_jobs %}
                    <option value="{{one_job.id}}">Job Name: {{one_job.name}}</option>
                    {% endfor %}
                </select> <br> <br>
                Reason For Pricing (Please select one option from the dropdown): <select name="request_for_pricing" class="request_for_pricing">
                    <option value="Yes - Request Pricing">&#160;Request For Pricing (RFP)&#160;</option>
                    <option value="Work Already Performed">&#160;Work Already Performed&#160;</option>
                </select><br><br>
                Location of Work Performed: <input type="text" name="location" id="location_work"> <br><br>
                Date/ Date Range Work Performed: <input type="text" name="date_work_performed" id="date_work_performed"> <br><br>
                Work Performed: <br>
                <textarea name="work_performed" id="work_performed" cols="120" rows="8"></textarea><br><br><br><br>
                <hr>
                <div hidden id="priced_div">
                    <input hidden type="text" name="priced" value="No">
                </div>
                <!-- Start - This is the div for adding material to the work order. Material can be on many work orders -->
                <div id="material">
                    <h3>Material</h3>
                    <p id="material_message">Input quantity (number format) and product used below. To add more
                        materials, click on the button. <br><br>
                   <span style="font-weight:bolder; text-decoration: underline ;"> If you select material that requires to input in SQ FT or FT, please enter the SQ FT or FT per piece <br> in the measurement amount section. Along with that enter in the # of pieces in the Quantity field. <br><br>
                For any material that requires to enter in the number of "Box(s)"" or "EA", please enter in the number in the quantity field.</span></p>
                    <table id="material_table">
                        <tr>
                            <th>Quantity</th>
                            <th>Product</th>
                            <th>Unit of Measurement</th>
                            <th>SQ FT / FT Per Piece</th>
                        </tr>
                        <tr>
                            <td><input type="number" name="quantity1" id="mat_quantity1"></td>
                            <td><select name="product1" class="material_list" id="material_list1" onchange="material_unit_match()">
                                <option value="">None &#160;&#160;&#160;&#160;</option>
                                <option value="">Other (Input Below)&#160;&#160;&#160;&#160;</option>
                                {% for one_material in all_material_names %}
                                <option value="{{one_material.product_name}}| {{one_material.unit_of_measurement}}|{{one_material.price}}">{{one_material.product_name}}</option>
                                {% endfor %}
                            </select>
                            </td>
                            <td><input type="text" readonly name="measurement1" id="unit_measurement1"></td>
                            <!-- <td>
                                <select name="measurement1" class="measurement" id=unit_measurement1>
                                <option value="">None&#160;&#160;&#160;&#160;</option>
                               {% for one_material in all_material_names %}
                               <option value="{{one_material.id}}">{{one_material.unit_of_measurement}}</option>
                               {% endfor %}
                            </select></td> -->
                            <td><input type="text" name="measurement_amount1" id="measurement_amount1"></td>
                        </tr>
                    </table><br>
                    <button style="width: 100px !important; height: 50px !important; background-color: #EFEFEF;" type="button" id="add_material"><b>Add One More</b></button>
                </div><br>
                <div id="other_material">
                    <h3>Other Material</h3>
                    <p id="other_material_message">If you are unable to find your material from the above dropdown, please input below. </p>
                    <table id="other_material_table">
                        <tr>
                            <th>Quantity</th>
                            <th>Product</th>
                            <th>Unit of Measurement</th>
                            <th>Measurement Amount</th>
                        </tr>
                        <tr>
                            <td><input type="number" id="other_quantity" name="other_quantity1"></td>
                            <td><input type="text" id="other_name" name="other_name1"></td>
                            <td><input type="test" id="other_measurement" name="other_measurement1"></td>
                            <td><input type="text" id="other_measurement_amount" name="other_measurement_amount1"></td>
                        </tr>
                    </table><br>
                    <button style="width: 100px!important; height: 50px !important; background-color: #EFEFEF;" type="button" id="add_more"><b>Add One More</b></button><br><br><br>
                </div><br>
                <hr>
                <!-- End - This is the div for adding material to the work order. Material can be on many work orders -->

                <!-- Start - This is the div for adding labor type to the work order. One labor type can be on many work orders -->
                <div id="labor_type">
                    <h3>Labor Type</h3>
                    <table id="labor_table_master">
                        <tr id="labor_header">
                            <th>Labor Type</th>
                            <th>Labor Description <br><span id="lab_head">(if selecting other)</span></th>
                            <th># of Employees</th>
                            <th>Regular Hours</th>
                            <th>Premium Hours</th>
                            <th>Doubletime Hours</th>
                        </tr>
                        <tr>
                            <td>
                                <select name="labor_type1" id="labor_type_select" class="labor_drop">
                                    <option value="Carpenter - Foreman">Carpenter - Foreman</option>
                                    <option value="Carpenter - Journeyman">Carpenter - Journeyman</option>
                                    <option value="Taper - Journeyman">Taper - Journeyman</option>
                                    <option value="Taper - Foreman">Taper - Foreman</option>
                                    <option value="Laborer">Laborer</option>
                                    <option value="Supervisor">Supervisor</option>
                                    <option value="Other">Other</option>
                                </select>
                            </td>
                            <td><input type="text" name="labor_description1" id="labor_description"></td>
                            <td><input type="text" required name="employee_numbers1" id="employee_numbers"></td>
                            <td><input type="text" name="regular_hours1" id="regular_hours"></td>
                            <td><input type="text" name="premium_hours1" id="premium_hours"></td>
                            <td><input type="text" name="double_hours1" id="double_hours"></td>
                        </tr>
                    </table>
                </div><br>
                <button style="width: 100px!important; height: 50px !important; background-color: #EFEFEF;" type="button" id="add_labor"><b>Add One More</b></button><br><br><br>
                <!-- End - This is the div for adding labor type to the work order. One labor type can be on many work orders -->
                <hr><br>
                <!-- 1) Start of the signature div for general contractor   -->
                <div>
                    <div id="canvas_1">
                        Name of General Contractor Signing: <input type="text" name="signator_1" class="signator_name"
                            id="signator_1" placeholder="Please print your name."><br><br>
                        General Contractor Email: <input type="email" name="general_contractor_email" placeholder="Please Enter Email" id="general_contractor_email"><br>
                        <p style="color: red; font-weight: bold;">By entering your email, you are authorizing us to email you once this order is submitted along with emailing you if any changes take place!</p>
                            <p><b>We agree to pay for the above work on the basis of cost of material, labor,<br>
                                insurance and taxes, on labor and direct costs, plus overhead and profit.</b></p>
                        <!-- Start This is the canvas functionality -->
                        <img hidden src="" id="imgConverted"
                            style="float: left; background: none; border: 2px solid blue ;" alt="This is the signature">
                        <canvas id="canvas" style="border:black solid 1px;" width="500" height="150"></canvas>

                        <!-- End This is the canvas functionality -->

                        <!-- Start This is the div for the clear signature and save signature -->

                        <!-- End This is the div for the clear signature and save signature -->
                    </div><br>
                    <p id="TY" hidden>General Contractor has successfully signed!</p>
                    <button style="background-color: #EFEFEF !important;" type="button" onclick="myFunction()"><b>Clear & Re-Sign</b></button>
                    <input style="background-color: #EFEFEF !important; font-weight: bold;" onclick="saveSignature()" type="button" id="save1" value="Save Signature">
                </div><br><br>
                <hr><br>
                <div>
                    <div id="canvas2">
                        Name of Belcon Foreman Signing: <input type="text" name="signator_2" class="signator_name"
                            id="signator_2" placeholder="Please print your name."><br><br>
                        <!-- Start This is the canvas functionality -->
                        <img hidden src="" id="imgConverted2"
                            style="float: left; background: none; border: 2px solid blue ;" alt="This is the signature">
                        <canvas id="canvas_2" style="border:black solid 1px;" width="500" height="150"></canvas>
                        <!-- End This is the canvas functionality -->

                        <!-- Start This is the div for the clear signature and save signature -->

                        <!-- End This is the div for the clear signature and save signature -->
                    </div><br>
                    <p id="TY2" hidden>Belcon foreman has successfully signed!</p>
                    <button style="background-color: #EFEFEF !important;" type="button" onclick="myFunction1()"><b>Clear & Re-Sign</b></button>
                    <input style="background-color: #EFEFEF !important; font-weight: bold;" onclick="saveSignature2()" type="button" id="save2" value="Save Signature">
                </div>

                <!-- 1) End of the signature div general contractor   -->
                <input type="hidden" name="signature_1" value="" id="sign1"><br>
                <input type="hidden" name="signature_2" value="" id="sign2"><br>
                <input type="hidden" name="material_count" value="1" id="material_count">
                <input type="hidden" name="labor_count" value="1" id="labor_count">
                <input type="hidden" name="other_material_count" value="1" id="other_material_count">
                <input style="background-color: #EFEFEF !important; font-weight: bold;" id="submit_button" type="submit" value="Create Work Order"><br>
            </form>
        </div>
        <!-- End - Master div for creating work order -->


    </div>


    <!-- Start This is the javascript for the signature and other functions -->
    <script>

//prevent enter key to submit workorder
        $('form input').keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
//end enterkey prevention

        // start jquery for searchable dropdown 

        ;(function() {
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        ctx.strokeStyle = "#222222";
        ctx.lineWith = 2;
        // Set up mouse events for drawing
        var drawing = false;
        var mousePos = { x:0, y:0 };
        var lastPos = mousePos;
        canvas.addEventListener("mousedown", function (e) {
                drawing = true;
        lastPos = getMousePos(canvas, e);
        }, false);
        canvas.addEventListener("mouseup", function (e) {
        drawing = false;
        }, false);
        canvas.addEventListener("mousemove", function (e) {
        mousePos = getMousePos(canvas, e);
        }, false);

        // Get the position of the mouse relative to the canvas
        function getMousePos(canvasDom, mouseEvent) {
        var rect = canvasDom.getBoundingClientRect();
        return {
            x: mouseEvent.clientX - rect.left,
            y: mouseEvent.clientY - rect.top
        };
        }
        
        // Get a regular interval for drawing to the screen
        window.requestAnimFrame = (function (callback) {
                return window.requestAnimationFrame || 
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimaitonFrame ||
                function (callback) {
                window.setTimeout(callback, 1000/60);
                };
        })();

        // Draw to the canvas
            function renderCanvas() {
            if (drawing) {
                ctx.moveTo(lastPos.x, lastPos.y);
                ctx.lineTo(mousePos.x, mousePos.y);
                ctx.stroke();
                lastPos = mousePos;
            }
            }

            // Allow for animation
            (function drawLoop () {
            requestAnimFrame(drawLoop);
            renderCanvas();
            })();

            // Set up touch events for mobile, etc
            canvas.addEventListener("touchstart", function (e) {
                    mousePos = getTouchPos(canvas, e);
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousedown", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchend", function (e) {
            var mouseEvent = new MouseEvent("mouseup", {});
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchmove", function (e) {
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousemove", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);

            // Get the position of a touch relative to the canvas
            function getTouchPos(canvasDom, touchEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: touchEvent.touches[0].clientX - rect.left,
                y: touchEvent.touches[0].clientY - rect.top
            };
            }

            // Prevent scrolling when touching the canvas
            document.body.addEventListener("touchstart", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchend", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchmove", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });



        $('#save1').click(function () {
            $('#canvas_1').toggle();
            document.getElementById("TY").hidden = false;
        })})()

        function myFunction() {
                canvas.width = canvas.width;
            }

        function saveSignature() {
            var dataURI = canvas.toDataURL("image/png");
            sign1.value = dataURI;
            imgConverted.src = dataURI;
        }
        // Javascript for the second canvas

        ;(function () { 
        var canvas = document.getElementById("canvas_2");
        var ctx = canvas.getContext("2d");
        ctx.strokeStyle = "#222222";
        ctx.lineWith = 2;
        // Set up mouse events for drawing
        var drawing = false;
        var mousePos = { x:0, y:0 };
        var lastPos = mousePos;
        canvas.addEventListener("mousedown", function (e) {
                drawing = true;
        lastPos = getMousePos(canvas, e);
        }, false);
        canvas.addEventListener("mouseup", function (e) {
        drawing = false;
        }, false);
        canvas.addEventListener("mousemove", function (e) {
        mousePos = getMousePos(canvas, e);
        }, false);

        // Get the position of the mouse relative to the canvas
        function getMousePos(canvasDom, mouseEvent) {
        var rect = canvasDom.getBoundingClientRect();
        return {
            x: mouseEvent.clientX - rect.left,
            y: mouseEvent.clientY - rect.top
        };
        }
        
        // Get a regular interval for drawing to the screen
        window.requestAnimFrame = (function (callback) {
                return window.requestAnimationFrame || 
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimaitonFrame ||
                function (callback) {
                window.setTimeout(callback, 1000/60);
                };
        })();

        // Draw to the canvas
            function renderCanvas() {
            if (drawing) {
                ctx.moveTo(lastPos.x, lastPos.y);
                ctx.lineTo(mousePos.x, mousePos.y);
                ctx.stroke();
                lastPos = mousePos;
            }
            }

            // Allow for animation
            (function drawLoop () {
            requestAnimFrame(drawLoop);
            renderCanvas();
            })();

            // Set up touch events for mobile, etc
            canvas.addEventListener("touchstart", function (e) {
                    mousePos = getTouchPos(canvas, e);
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousedown", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchend", function (e) {
            var mouseEvent = new MouseEvent("mouseup", {});
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchmove", function (e) {
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousemove", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);

            // Get the position of a touch relative to the canvas
            function getTouchPos(canvasDom, touchEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: touchEvent.touches[0].clientX - rect.left,
                y: touchEvent.touches[0].clientY - rect.top
            };
            }

            // Prevent scrolling when touching the canvas
            document.body.addEventListener("touchstart", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchend", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchmove", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });



        $('#save2').click(function () {
            $('#canvas2').toggle();
            document.getElementById("TY2").hidden = false;
        })})()

        function myFunction1() {
               document.getElementById('canvas_2').width = document.getElementById('canvas_2').width;
            }
  
  
        function saveSignature2() {
            var dataURI2 = document.getElementById('canvas_2').toDataURL("image/png");
            sign2.value = dataURI2;
            imgConverted2.src = dataURI2;
        }
        $(document).ready(function () {
            $('.job_list').select2();
            $('.request_for_pricing').select2();
            $('.material_list').select2();
            // $('.measurement').select2();
            $('.labor_drop').select2();

        });


        $('#add_material').click(function (e) {
            $('#material_count').attr('value', Number($('#material_count').attr('value')) + 1)
            var i = Number($('#material_count').attr('value'))
            $('#material_table').append(`<tr> <td><input type="number" name="quantity${i}" id="mat_quantity${i}"></td> <td><select name="product${i}" class="material_list" id=material_list${i} onchange="material_unit_match()"><option value="">None&#160;&#160;&#160;&#160;</option>
                                <option value="">Other (Input Below)&#160;&#160;&#160;&#160;</option>
            {% for one_material in all_material_names %}
            <option value="{{one_material.product_name}}| {{one_material.unit_of_measurement}}|{{one_material.price}}">{{one_material.product_name}}</option>
            {% endfor %}
            </select>
                            </td><td><input type="text" readonly name="measurement${i}" id="unit_measurement${i}"></td><td><input type="text" name="measurement_amount${i}" id="measurement_amount${i}"></td></tr>`)
            $(document).ready(function () {
            $('.material_list').select2();
            // $('.measurement').select2();
        });
        })

        

        function material_unit_match(){ 
            var full_id = event.target.id
            var length = full_id.length - 1
            var the_value = (full_id. split("|")[1]).trim();
            console.log(the_value)
            var the_id = full_id[21]
            $(`#unit_measurement${the_id}`).val(the_value)
            if(the_value == "EA" || the_value == "Box(s)" ){
                $(`#measurement_amount${the_id}`).css("background", "black").prop("readonly", true);
                $(`#measurement_amount${the_id}`).val(1);
            }
            else{
                $(`#measurement_amount${the_id}`).css('background','').prop("readonly", false);

            }
        }

        // function unit_match(){
        //     var full_id1 = event.target.id
        //     console.log(full_id1)
        // }

        $('#add_more').click(function (e) {
                    $('#other_material_count').attr('value', Number($('#other_material_count').attr('value')) + 1)
                    var c = Number($('#other_material_count').attr('value'))
                    $('#other_material_table').append(`<tr><td><input type="number" id="other_quantity" name="other_quantity${c}"></td><td><input type="text" id="other_name" name="other_name${c}"></td><td><input type="test" id="other_measurement" name="other_measurement${c}"></td><td><input type="text" id="other_measurement_amount" name="other_measurement_amount${c}"></td></tr>`)
                })

                $('#add_labor').click(function (e) {
                    $('#labor_count').attr('value', Number($('#labor_count').attr('value')) + 1)
                    var n = Number($('#labor_count').attr('value'))
                    $('#labor_table_master').append(`<tr><td><select name="labor_type${n}" class="labor_drop"><option value="Carpenter - Foreman">Carpenter - Foreman</option><option value="Carpenter - Journeyman">Carpenter - Journeyman</option><option value="Taper - Journeyman">Taper - Journeyman</option><option value="Taper - Foreman">Taper - Foreman</option><option value="Laborer">Laborer</option><option value="Supervisor">Supervisor</option><option value="Other">Other</option></select></td><td><input type="text" name="labor_description${n}" id="labor_description"></td><td><input type="text" required name="employee_numbers${n}" id="employee_numbers"></td><td><input type="text" name="regular_hours${n}" id="regular_hours"></td><td><input type="text" name="premium_hours${n}" id="premium_hours"></td><td><input type="text" name="double_hours${n}" id="double_hours"></td></tr>`)

            $(document).ready(function () {
            $('.labor_drop').select2();
                });
                })

    </script>
    <!-- End This is the javascript for the signature -->
</body>

</html>