<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email - Submitting the Extra Work Order</title>
</head>
<body>
    <p>Hi Francesca!<br><br>A new extra work order has been submitted by {{this_work_order.user.first_name}} on {{this_work_order.created_at}}<br>
        General Contractor: {{this_work_order.jobname.contractor_name}}<br>
        Name of Job: {{this_work_order.jobname.name}}<br><br>
       <span id="boldred" style="color: red; font-weight: bold;">Please note that this may or may not have been fully signed as yet by both parties!</span> This is just an automated email giving you a notification that a new work order was created. If the work order is further edited, you may receive a second email! You can also follow this <a href="http://workorder.belconservice.com/workorderpreview/{{this_work_order.id}}">link</a> to see if something has been updated.</p><br>
    <p>Belcon Construction Services, Inc.</p><br>
    <p><span id="footer" style="font-size: 8pt; text-decoration: underline;">This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.</span></p>
</body>
</html>