<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra Work Order Edit Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'editorder.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"
        defer></script>
</head>

<body>
    <div id="wrapper">
        <!-- Start This is where the logo and contact info is embedded -->
        {% if request.session.secret_code == "FGadmin!" or edit_this_order.signature_1 == "" or edit_this_order.signature_2 == "" %}
        <div id="header">
            <div class="head" id="logo_image_div">
                <a href="/"><img id="logo" src="{% static 'logobelcon.png' %}" alt="This is the logo"></a>
            </div>
            <div class="head" id="contact">
                <p class="contact">147 Roseland Ave</p>
                <p class="contact">Caldwell, NJ 07006</p>
                <p class="contact">P (973) 396-1336</p>
            </div>
        </div>
        <!-- End This is where the logo and contact info is embedded -->
        <p>You are about to edit Order #{{edit_this_order.id}} created by {{edit_this_order.user.first_name}}. Apart from the material used and labor type, everything else can be edited.</p>
        <div id="links">
            {% if request.session.secret_code == "FGadmin!" %}
            <button><a href="/workorder">Admin View</a></button>
            {% else %}
            <button class="thelinks"><a href="/myworkorders/{{request.session.user_id}}">My Work Orders</a></button>
            {% endif %}
            <button><a href="/">Creating New Extra Work Order</a></button>
            <button><a href="/logout">Logout</a></button>
        </div> <br>
        <form action="/save_edit/{{edit_this_order.id}}" method="post">
                {% csrf_token %}
        <div id="actual_order">
            <h3>Extra Work Order No. {{edit_this_order.id}}</h3>
            <p> <span class="titles">General Contractor:</span> {{edit_this_order.jobname.contractor_name}}</p>
            <p hidden id="job_id">{{edit_this_order.jobname.id}}</p>
            <p> <span class="titles">Name of Job:</span> <select class="joblist" name="contractor_edit" id="contractor_edit">
                {% for one_job in all_jobs %}
                <option value="{{one_job.id}}">{{one_job.name}}</option>
                {% endfor %}
                </select>
            </p>
            <p> <span class="titles">Address:</span> {{edit_this_order.jobname.street}}, {{edit_this_order.jobname.city}}, {{edit_this_order.jobname.state}} {{edit_this_order.jobname.zip_code}}</p>
            <p> <span class="titles">Location of Work Performed:</span> <input type="text" name="location_edit" value="{{edit_this_order.location}}" id="location_edit"> </p>
            <p> <span class="titles">Reason For Pricing:</span> <input type="text" name="request_for_pricing_edit" value="{{edit_this_order.request_for_pricing}}" id="request_for_pricing"></p>
            <p> <span class="titles">Date/ Date Range Work Performed:</span> <input id="date_range" name="date_work_performed_edit" type="text" value="{{edit_this_order.date_work_performed}}"></p>
            <p> <span class="titles">Work Performed:</span><br><textarea name="work_performed_edit" id="text_area" cols="120" rows="12">{{edit_this_order.work_performed}}</textarea></p>
            {% if request.session.secret_code == "FGadmin!" %}
            <p id="priced_original"> <span class="titles">Priced:</span> {{edit_this_order.priced}}  <button type="button" id="change_button"><a href="#">Change</a></button></p> 
            <p hidden id="priced_dropdown"> <span class="titles">Priced:</span> <select name="priced_edit" id="priced_edit">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select></p>
            {% endif %}
            <input hidden type="text" name="priced_edit" value="No">
            <hr>
            <h3>Material/s Used</h3>
            <table id="material_table">
                <tr>
                    <th>Material ID</th>
                    <th>Quantity</th>
                    <th>Product</th>
                    <th>Unit of Measurement</th>
                    <th>Measurement Amount</th>
                </tr>
                {% if request.session.secret_code == "FGadmin!" %}
                {% for material in edit_this_order.materials.all %}
                {% if material.product != "" %}
                <tr>
                    <td><input type="text" readonly name="this_material_id" value="{{material.id}}" class="this_material_id_class" id="this_material_id_id"></td>
                    <td><input type="number" name="edit_material_quantity" value="{{material.quantity}}" class="material_quantity_class" id="material_quantity"></td>
                    <td class="the_product_name"><input style="width: 90%;" type="text" name="edit_material_product_name" value="{{material.product}}" class="material_product_name_class" id="material_product_name"></td>
                    <td><input type="text" name="edit_material_unit_of_measurement" value="{{material.measurement}}" class="material_unit_of_measurement_class" id="material_unit_of_measurement"></td>
                    <td><input type="text" name="edit_material_measurement_amount" value="{{material.measurement_amount}}" class="material_material_measurement_amount_class" id="material_material_measurement_amount"></td>
                </tr>
                {% endif %}
                {% endfor %}
                <input hidden type="number" name="count_of_existing_materials" value="0" class="count_of_existing_materials_class" id="count_of_existing_materials">
                {% else %}
                {% for material in edit_this_order.materials.all %}
                {% if material.product != "" %}
                <tr>
                    <td></td>
                    <td>{{material.quantity}}</td>
                    <td>{{material.product}}</td>
                    <td>{{material.measurement}}</td>
                    <td>{{material.measurement_amount}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
            </table><br>
            {% if request.session.secret_code == "FGadmin!" %}
                <button style="width: 100px !important; height: 50px !important; background-color: #EFEFEF;" type="button" id="add_material"><b>Add One More</b></button><br><br>
                {% endif %}
                <input type="hidden" name="material_count" value="0" id="material_count">
            <table id="other_material_table">
                <h3>Other Material/s Used</h3>
                <tr>
                    <th>Other Material ID</th>
                    <th>Quantity</th>
                    <th>Product</th>
                    <th>Unit of Measurement</th>
                    <th>Measurement Amount</th>
                </tr>
                {% if request.session.secret_code == "FGadmin!" %}
                {% for one_other_material in edit_this_order.othermaterials.all %}
                {% if one_other_material.other_name != "" %}
                <tr>
                    <td><input type="text" readonly name="this_other_material_id" value="{{one_other_material.id}}" class="this_one_other_material_id_class" id="this_one_other_material_id_id"></td>
                    <td><input type="number" name="edit_other_material_quantity" value="{{one_other_material.other_quantity}}" class="other_material_quantity_class" id="other_material_quantity"></td>
                    <td class="the_product_name"><input style="width: 90%;" type="text" name="edit_other_material_product_name" value="{{one_other_material.other_name}}" class="other_material_product_name_class" id="other_material_product_name"></td>
                    <td><input type="text" name="edit_other_material_unit_of_measurement" value="{{one_other_material.other_measurement}}" class="other_material_unit_of_measurement_class" id="other_material_unit_of_measurement"></td>
                    <td><input type="text" name="edit_material_measurement_amount" value="{{one_other_material.other_measurement_amount}}" class="other_material_material_measurement_amount_class" id="other_material_material_measurement_amount"></td>
                </tr>
                {% endif %}
                {% endfor %}
                {% else %}
                {% for one_other_material in edit_this_order.othermaterials.all %}
                {% if one_other_material.other_name != "" %}
                <tr>
                    <td></td>
                    <td>{{one_other_material.other_quantity}}</td>
                    <td>{{one_other_material.other_name}}</td>
                    <td>{{one_other_material.other_measurement}}</td>
                    <td>{{one_other_material.other_measurement_amount}}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% endif %}
                <input hidden type="number" name="count_of_existing_other_materials" value="0" class="count_of_existing_other_materials_class" id="count_of_existing_other_materials">
            </table><br>
            {% if request.session.secret_code == "FGadmin!" %}
            <button style="width: 100px!important; height: 50px !important; background-color: #EFEFEF;" type="button" id="add_more"><b>Add One More</b></button><br><br><br>
            {% endif %}
            <input type="hidden" name="other_material_count" value="0" id="other_material_count">
            <h3>Labor Type</h3>
            <table id="labor_table_master">
                <tr id="labor_header">
                        <th hidden>Labor ID</th>
                        <th>Labor Type</th>
                        <th>Labor Description (if selecting other)</th>
                        <th># of Employees</th>
                        <th>Regular Hours</th>
                        <th>Premium Hours</th>
                        <th>Doubletime Hours</th>
                        <th>Overtime Hours</th>
                    </tr>
                    {% if request.session.secret_code == "FGadmin!" %}
                    {% for one_labor in edit_this_order.labortypes.all %}
                    <tr>
                        <td hidden><input type="text" readonly name="this_one_labor_id" value="{{one_labor.id}}" class="this_one_labor_id_class" id="this_one_labor_id_id"></td>                        
                        <td>
                             <select name="edit_labor_type_dropdown" class="edit_labor_type_dropdown_class" id="edit_labor_type_dropdown_id">
                                 <option selected value="{{one_labor.labor_type}}">{{one_labor.labor_type}}</option>
                                {% for one_labor_type in all_labor_types %}
                                {% if one_labor.labor_type != one_labor_type.labor_type_name %}
                                <option value="{{one_labor_type.labor_type_name}}">{{one_labor_type.labor_type_name}}</option>
                               {% endif %}
                               {% endfor %}
                            </select>
                            </td>
                        <td><input type="text" name="edit_labor_description" value="{{one_labor.labor_description}}" class="edit_labor_description_class" id="edit_labor_description_id"></td>
                        <td><input required type="text" name="edit_employee_numbers" value="{{one_labor.employee_numbers}}" class="edit_employee_numbers_class" id="edit_employee_numbers_id"></td>
                        <td><input required type="text" name="edit_regular_hours" value="{{one_labor.regular_hours}}" class="edit_regular_hours_class" id="edit_regular_hours_id"></td>
                        <td><input required type="text" name="edit_premium_hours" value="{{one_labor.premium_hours}}" class="edit_premium_hours_class" id="edit_premium_hours_id"></td>
                        <td><input required type="text" name="edit_double_hours" value="{{one_labor.double_hours}}" class="edit_double_hours_class" id="edit_double_hours_id"></td>
                        <td><input required type="text" name="edit_over_hours" value="{{one_labor.over_hours}}" class="edit_over_hours_class" id="edit_over_hours_id"></td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    {% for one_labor in edit_this_order.labortypes.all %}
                    <tr>
                        <td hidden><input type="text" readonly name="this_one_labor_id" value="{{one_labor.id}}" class="this_one_labor_id_class" id="this_one_labor_id_id"></td>                        
                        <td>{{one_labor.labor_type}}</td>
                        <td>{{one_labor.labor_description}}</td>
                        <td>{{one_labor.employee_numbers}}</td>
                        <td>{{one_labor.regular_hours}}</td>
                        <td>{{one_labor.premium_hours}}</td>
                        <td>{{one_labor.double_hours}}</td>
                        <td>{{one_labor.over_hours}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    <input hidden type="number" name="count_of_labor" value="0" class="count_of_labor" id="count_of_labor">
            </table><br><br><br>
            {% if request.session.secret_code == "FGadmin!" %}
            <button style="width: 100px!important; height: 50px !important; background-color: #EFEFEF;" type="button" id="add_labor"><b>Add One More</b></button><br><br><br>
            {% endif %}
            <input type="hidden" name="labor_count" value="0" id="labor_count">
            <hr>
            <div id="contractor_signator">
                <p><span class="titles">Name of General Contractor who Signed the Order:</span> {{edit_this_order.signator_1}} </p>
                <img src="{{edit_this_order.signature_1}}" alt="">
            </div>
            <hr>
            <div id="belcon_signator">
                <p><span class="titles">Name of Belcon Foreman who Signed the Order:</span> {{edit_this_order.signator_2}} </p>
                <img src="{{edit_this_order.signature_2}}" alt="">
            </div>
            <hr>

            <!-- <form action="/save_edit/{{edit_this_order.id}}" method="post">
                {% csrf_token %} -->
            <div id="re-sign">
                <div>
                    <div id="canvas_1">
                        Name of General Contractor Signing: <input type="text" name="signator_1" class="signator_name"
                            id="signator_1" value="{{edit_this_order.signator_1}}"><br><br>
                       General Contractor Email:  <input type="email" name="general_contractor_email_edit" id="general_contractor_email_edit" value="{{edit_this_order.general_contractor_email}}"> <br><br>
                        <!-- Start This is the canvas functionality -->
                        <img hidden src="{{edit_this_order.signature_1}}" id="imgConverted"
                            style="float: left; background: none; border: 2px solid blue ;" alt="This is the signature">
                        <canvas id="canvas" style="border:black solid 1px;" width="500" height="150"></canvas>

                        <!-- End This is the canvas functionality -->

                        <!-- Start This is the div for the clear signature and save signature -->

                        <!-- End This is the div for the clear signature and save signature -->
                    </div><br>
                    <p id="TY" hidden>General Contractor has successfully signed! If you see an image of a signature above, <br> that will be replaced with the signature you just saved!</p>
                    <button type="button" onclick="myFunction()">Clear & Re-Sign</button>
                    <input onclick="saveSignature()" type="button" class="thebutton" id="save1" value="Save Signature">
                    <input type="hidden" name="signature_1" value="{{edit_this_order.signature_1}}" id="sign1"><br>
                </div><br><br>

                <div>
                    <div id="canvas2">
                        Name of Belcon Foreman Signing: <input type="text" name="signator_2" class="signator_name"
                            id="signator_2" value="{{edit_this_order.signator_2}}"><br><br>
                        <!-- Start This is the canvas functionality -->
                        <img hidden src="{{edit_this_order.signature_2}}" id="imgConverted2"
                            style="float: left; background: none; border: 2px solid blue ;" alt="This is the signature">
                        <canvas id="canvas_2" style="border:black solid 1px;" width="500" height="150"></canvas>
                        <!-- End This is the canvas functionality -->

                        <!-- Start This is the div for the clear signature and save signature -->

                        <!-- End This is the div for the clear signature and save signature -->
                    </div><br>
                    <p id="TY2" hidden>Belcon foreman has successfully signed! If you see an image of a signature above, <br> that will be replaced with the signature you just saved!</p>
                    <button type="button" onclick="myFunction1()">Clear & Re-Sign</button>
                    <input onclick="saveSignature2()" type="button" class="thebutton" id="save2" value="Save Signature">
                    <input type="hidden" name="signature_2" value="{{edit_this_order.signature_2}}" id="sign2"><br><br>
                </div>
                <input type="submit" value="Sign & Save" class="thebutton" id="sign_save">
            </div>
            </form>
            <div id="empty">

            </div>
        </div>
        {% else %}
        <p>Sorry you will not be able to edit this order. Please click <a href="/">Home</a> to go back to your home page</p>
        {% endif %}
    </div>
      
        <!-- Start This is the javascript for the signature and other functions -->
        <script>
        ;(function() {
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        ctx.strokeStyle = "#222222";
        ctx.lineWith = 2;
        // Set up mouse events for drawing
        var drawing = false;
        var mousePos = { x:0, y:0 };
        var lastPos = mousePos;
        canvas.addEventListener("mousedown", function (e) {
                drawing = true;
        lastPos = getMousePos(canvas, e);
        }, false);
        canvas.addEventListener("mouseup", function (e) {
        drawing = false;
        }, false);
        canvas.addEventListener("mousemove", function (e) {
        mousePos = getMousePos(canvas, e);
        }, false);

        // Get the position of the mouse relative to the canvas
        function getMousePos(canvasDom, mouseEvent) {
        var rect = canvasDom.getBoundingClientRect();
        return {
            x: mouseEvent.clientX - rect.left,
            y: mouseEvent.clientY - rect.top
        };
        }
        
        
        // Get a regular interval for drawing to the screen
        window.requestAnimFrame = (function (callback) {
                return window.requestAnimationFrame || 
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimaitonFrame ||
                function (callback) {
                window.setTimeout(callback, 1000/60);
                };
        })();

        // Draw to the canvas
            function renderCanvas() {
            if (drawing) {
                ctx.moveTo(lastPos.x, lastPos.y);
                ctx.lineTo(mousePos.x, mousePos.y);
                ctx.stroke();
                lastPos = mousePos;
            }
            }

            // Allow for animation
            (function drawLoop () {
            requestAnimFrame(drawLoop);
            renderCanvas();
            })();

            // Set up touch events for mobile, etc
            canvas.addEventListener("touchstart", function (e) {
                    mousePos = getTouchPos(canvas, e);
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousedown", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchend", function (e) {
            var mouseEvent = new MouseEvent("mouseup", {});
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchmove", function (e) {
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousemove", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);

            // Get the position of a touch relative to the canvas
            function getTouchPos(canvasDom, touchEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: touchEvent.touches[0].clientX - rect.left,
                y: touchEvent.touches[0].clientY - rect.top
            };
            }

            // Prevent scrolling when touching the canvas
            document.body.addEventListener("touchstart", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchend", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchmove", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });

            $('#save1').click(function () {
                $('#canvas_1').toggle();
                document.getElementById("TY").hidden = false;
            });

})()

        function myFunction() {
                canvas.width = canvas.width;
            }

            function saveSignature() {
                var dataURI = canvas.toDataURL("image/png");
                sign1.value = dataURI;
                imgConverted.src = dataURI;
            }
    

    
            // Javascript for the second canvas
        ;(function () { 
        var canvas = document.getElementById("canvas_2");
        var ctx = canvas.getContext("2d");
        ctx.strokeStyle = "#222222";
        ctx.lineWith = 2;
        // Set up mouse events for drawing
        var drawing = false;
        var mousePos = { x:0, y:0 };
        var lastPos = mousePos;
        canvas.addEventListener("mousedown", function (e) {
                drawing = true;
        lastPos = getMousePos(canvas, e);
        }, false);
        canvas.addEventListener("mouseup", function (e) {
        drawing = false;
        }, false);
        canvas.addEventListener("mousemove", function (e) {
        mousePos = getMousePos(canvas, e);
        }, false);

        // Get the position of the mouse relative to the canvas
        function getMousePos(canvasDom, mouseEvent) {
        var rect = canvasDom.getBoundingClientRect();
        return {
            x: mouseEvent.clientX - rect.left,
            y: mouseEvent.clientY - rect.top
        };
        }
        
        // Get a regular interval for drawing to the screen
        window.requestAnimFrame = (function (callback) {
                return window.requestAnimationFrame || 
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimaitonFrame ||
                function (callback) {
                window.setTimeout(callback, 1000/60);
                };
        })();

        // Draw to the canvas
            function renderCanvas() {
            if (drawing) {
                ctx.moveTo(lastPos.x, lastPos.y);
                ctx.lineTo(mousePos.x, mousePos.y);
                ctx.stroke();
                lastPos = mousePos;
            }
            }

            // Allow for animation
            (function drawLoop () {
            requestAnimFrame(drawLoop);
            renderCanvas();
            })();

            // Set up touch events for mobile, etc
            canvas.addEventListener("touchstart", function (e) {
                    mousePos = getTouchPos(canvas, e);
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousedown", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchend", function (e) {
            var mouseEvent = new MouseEvent("mouseup", {});
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchmove", function (e) {
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousemove", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);

            // Get the position of a touch relative to the canvas
            function getTouchPos(canvasDom, touchEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: touchEvent.touches[0].clientX - rect.left,
                y: touchEvent.touches[0].clientY - rect.top
            };
            }

            // Prevent scrolling when touching the canvas
            document.body.addEventListener("touchstart", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchend", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchmove", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });



        $('#save2').click(function () {
            $('#canvas2').toggle();
            document.getElementById("TY2").hidden = false;
        })})()

        function myFunction1() {
               document.getElementById('canvas_2').width = document.getElementById('canvas_2').width;
            }
  
  
        function saveSignature2() {
            var dataURI2 = document.getElementById('canvas_2').toDataURL("image/png");
            sign2.value = dataURI2;
            imgConverted2.src = dataURI2;
        }    
    
        $(document).ready(function () {
            $('.joblist').select2();
            $('.material_list').select2();
        });


        function first_dropdown(){
            var b = document.getElementById("job_id").innerHTML
            console.log(b)
            document.getElementById("contractor_edit").value = document.getElementById("job_id").innerHTML
        }
        first_dropdown()

        $('#change_button').click(function() {
            document.getElementById("priced_original").hidden = true;
            document.getElementById("priced_dropdown").hidden = false;
        }

        )
    </script>
    <script>


// to input in the count of existing materials that is on this work order  
    counter = 1

    
    $('#material_table > tbody > tr').not(':first').each(function(index, tr){
        var material_id = document.getElementsByClassName('this_material_id_class')[counter-1]
        var material_quantity = document.getElementsByClassName('material_quantity_class')[counter-1]
        var material_product_name = document.getElementsByClassName('material_product_name_class')[counter-1]
        var material_unit_of_measurement = document.getElementsByClassName('material_unit_of_measurement_class')[counter-1]
        var material_material_measurement_amount = document.getElementsByClassName('material_material_measurement_amount_class')[counter-1]
        material_id.setAttribute("name", `this_material_id${counter}`);
        material_quantity.setAttribute("name", `edit_material_quantity${counter}`);
        material_product_name.setAttribute("name", `edit_material_product_name${counter}`);
        material_unit_of_measurement.setAttribute("name", `edit_material_unit_of_measurement${counter}`);
        material_material_measurement_amount.setAttribute("name", `edit_material_measurement_amount${counter}`);
        counter = counter + 1
        var counter_input_for_materials = document.getElementById('count_of_existing_materials');
        counter_input_for_materials.setAttribute("value", `${counter-1}`);
    })
    

// end edit materials that are currently on this workorder
            
</script>
<script>

    // add more material to material section

    $('#add_material').click(function (e) {
            $('#material_count').attr('value', Number($('#material_count').attr('value')) + 1)
            var i = Number($('#material_count').attr('value'))
            $('#material_table').append(`<tr><td></td> <td><input type="number" name="quantity${i}" id="mat_quantity${i}" onkeypress="return isNumberKey(this, event);"></td> <td><select name="product${i}" class="material_list" id=material_list${i} onchange="material_unit_match()"><option value="">None&#160;&#160;&#160;&#160;</option>
                                <option value="">Other (Input Below)&#160;&#160;&#160;&#160;</option>
            {% for one_material in all_material_names %}
            <option value="{{one_material.product_name}}| {{one_material.unit_of_measurement}}|{{one_material.price}}">{{one_material.product_name}}</option>
            {% endfor %}
            </select>
                            </td><td><input type="text" readonly name="measurement${i}" id="unit_measurement${i}"></td><td><input type="text" name="measurement_amount${i}" id="measurement_amount${i}" onkeypress="return isNumberKey(this, event);"></td></tr>`)
            $(document).ready(function () {
            $('.material_list').select2();
            // $('.measurement').select2();
        });
        })

        function material_unit_match(){ 
            var full_id = event.target.id
            var length = full_id.length - 1
            var the_value = (full_id. split("|")[1]).trim();
            console.log(the_value)
            var the_id = full_id[21]
            $(`#unit_measurement${the_id}`).val(the_value)
            if(the_value == "EA" || the_value == "Box(s)" ){
                $(`#measurement_amount${the_id}`).css("background", "black").prop("readonly", true);
                $(`#measurement_amount${the_id}`).val(1);
            }
            else{
                $(`#measurement_amount${the_id}`).css('background','').prop("readonly", false);

            }
        }


        function isNumberKey(txt, evt) {
          var charCode = (evt.which) ? evt.which : evt.keyCode;
          if (charCode == 46) {
            //Check if the text already contains the . character
            if (txt.value.indexOf('.') === -1) {
              return true;
            } else {
              return false;
            }
          } else {
            if (charCode > 31 &&
              (charCode < 48 || charCode > 57))
              return false;
          }
          return true;
        }
        //end

        // for other material

        counter_other_mat = 1

            
        $('#other_material_table > tbody > tr').not(':first').each(function(index, tr){
            var other_material_id = document.getElementsByClassName('this_one_other_material_id_class')[counter_other_mat-1]
            var other_material_quantity = document.getElementsByClassName('other_material_quantity_class')[counter_other_mat-1]
            var other_material_product_name = document.getElementsByClassName('other_material_product_name_class')[counter_other_mat-1]
            var other_material_unit_of_measurement = document.getElementsByClassName('other_material_unit_of_measurement_class')[counter_other_mat-1]
            var other_material_material_measurement_amount = document.getElementsByClassName('other_material_material_measurement_amount_class')[counter_other_mat-1]
            other_material_id.setAttribute("name", `this_other_material_id${counter_other_mat}`);
            other_material_quantity.setAttribute("name", `edit_other_material_quantity${counter_other_mat}`);
            other_material_product_name.setAttribute("name", `edit_other_material_product_name${counter_other_mat}`);
            other_material_unit_of_measurement.setAttribute("name", `edit_other_material_unit_of_measurement${counter_other_mat}`);
            other_material_material_measurement_amount.setAttribute("name", `edit_other_material_measurement_amount${counter_other_mat}`);
            counter_other_mat = counter_other_mat + 1
            var counter_input_for_other_materials = document.getElementById('count_of_existing_other_materials');
            counter_input_for_other_materials.setAttribute("value", `${counter_other_mat-1}`);
        })


        $('#add_more').click(function (e) {
                    $('#other_material_count').attr('value', Number($('#other_material_count').attr('value')) + 1)
                    var c = Number($('#other_material_count').attr('value'))
                    $('#other_material_table').append(`<tr><td></td><td><input type="number" id="other_quantity" name="other_quantity${c}"></td><td class="the_product_name"><input style="width: 90%;" type="text" id="other_name" name="other_name${c}"></td><td><input type="test" id="other_measurement" name="other_measurement${c}"></td><td><input type="text" id="other_measurement_amount" name="other_measurement_amount${c}"></td></tr>`)
                })

        counter_labor = 1
         $('#labor_table_master > tbody > tr').not(':first').each(function(index, tr){
            var labor_id = document.getElementsByClassName('this_one_labor_id_class')[counter_labor-1]
            var labor_type = document.getElementsByClassName('edit_labor_type_dropdown_class')[counter_labor-1]
            var labor_description = document.getElementsByClassName('edit_labor_description_class')[counter_labor-1]
            var employee_numbers = document.getElementsByClassName('edit_employee_numbers_class')[counter_labor-1]
            var regular_numbers = document.getElementsByClassName('edit_regular_hours_class')[counter_labor-1]
            var premium_numbers = document.getElementsByClassName('edit_premium_hours_class')[counter_labor-1]
            var double_numbers = document.getElementsByClassName('edit_double_hours_class')[counter_labor-1]
            var over_numbers = document.getElementsByClassName('edit_over_hours_class')[counter_labor-1]
            labor_id.setAttribute("name", `this_one_labor_id${counter_labor}`);
            labor_type.setAttribute("name", `edit_labor_type_dropdown${counter_labor}`);
            labor_description.setAttribute("name", `edit_labor_description${counter_labor}`);
            employee_numbers.setAttribute("name", `edit_employee_numbers${counter_labor}`);
            regular_numbers.setAttribute("name", `edit_regular_hours${counter_labor}`);
            premium_numbers.setAttribute("name", `edit_premium_hours${counter_labor}`);
            double_numbers.setAttribute("name", `edit_double_hours${counter_labor}`);
            over_numbers.setAttribute("name", `edit_over_hours${counter_labor}`);
            counter_labor = counter_labor + 1
            var counter_input_for_labor = document.getElementById('count_of_labor');
            counter_input_for_labor.setAttribute("value", `${counter_labor-1}`);
        })

        $('#add_labor').click(function (e) {
                    $('#labor_count').attr('value', Number($('#labor_count').attr('value')) + 1)
                    var n = Number($('#labor_count').attr('value'))
                    $('#labor_table_master').append(`<tr><td><select name="labor_type${n}" class="labor_drop">{% for one_labor_type in  all_labor_types %}<option value="{{one_labor_type.labor_type_name}}">{{one_labor_type.labor_type_name}}</option>{% endfor %}</select></td><td><input type="text" name="labor_description${n}" id="labor_description"></td><td><input type="text" required name="employee_numbers${n}" id="employee_numbers"></td><td><input type="text" name="regular_hours${n}" id="regular_hours"></td><td><input type="text" name="premium_hours${n}" id="premium_hours"></td><td><input type="text" name="double_hours${n}" id="double_hours"></td><td><input type="text" name="over_hours${n}" id="over_hours"></td></tr>`)

            $(document).ready(function () {
            $('.labor_drop').select2();
                });
                })

    </script>

</body>

</html>
