<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra Work Order Edit Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'editorder.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"
        defer></script>
</head>

<body>
    <div id="wrapper">
        <!-- Start This is where the logo and contact info is embedded -->
        {% if request.session.secret_code == "FGadmin!" or edit_this_order.signature_1 == "" or edit_this_order.signature_2 == "" %}
        <div id="header">
            <div class="head" id="logo_image_div">
                <a href="/"><img id="logo" src="{% static 'logobelcon.png' %}" alt="This is the logo"></a>
            </div>
            <div class="head" id="contact">
                <p class="contact">147 Roseland Ave</p>
                <p class="contact">Caldwell, NJ 07006</p>
                <p class="contact">P (973) 396-1336</p>
            </div>
        </div>
        <!-- End This is where the logo and contact info is embedded -->
        <p>You are about to edit Order #{{edit_this_order.id}} created by {{edit_this_order.user.first_name}}. Apart from the material used and labor type, everything else can be edited.</p>
        <div id="links">
            {% if request.session.secret_code == "FGadmin!" %}
            <button><a href="/workorder">Admin View</a></button>
            {% else %}
            <button class="thelinks"><a href="/myworkorders/{{request.session.user_id}}">My Work Orders</a></button>
            {% endif %}
            <button><a href="/">Creating New Extra Work Order</a></button>
            <button><a href="/logout">Logout</a></button>
        </div> <br>
        <form action="/save_edit/{{edit_this_order.id}}" method="post">
                {% csrf_token %}
        <div id="actual_order">
            <h3>Extra Work Order No. {{edit_this_order.id}}</h3>
            <p> <span class="titles">General Contractor:</span> {{edit_this_order.jobname.contractor_name}}</p>
            <p hidden id="job_id">{{edit_this_order.jobname.id}}</p>
            <p> <span class="titles">Name of Job:</span> <select class="joblist" name="contractor_edit" id="contractor_edit">
                {% for one_job in all_jobs %}
                <option value="{{one_job.id}}">{{one_job.name}}</option>
                {% endfor %}
                </select>
            </p>
            <p> <span class="titles">Address:</span> {{edit_this_order.jobname.street}}, {{edit_this_order.jobname.city}}, {{edit_this_order.jobname.state}} {{edit_this_order.jobname.zip_code}}</p>
            <p> <span class="titles">Location of Work Performed:</span> <input type="text" name="location_edit" value="{{edit_this_order.location}}" id="location_edit"></p>
            <p> <span class="titles">Reason For Pricing:</span> <input type="text" name="request_for_pricing" value="{{edit_this_order.request_for_pricing}}" id="request_for_pricing"></p>
            <p> <span class="titles">Date/ Date Range Work Performed:</span> <input id="date_range" name="date_work_performed_edit" type="text" value="{{edit_this_order.date_work_performed}}"></p>
            <p> <span class="titles">Work Performed:</span><br><textarea name="work_performed_edit" id="text_area" cols="120" rows="12">{{edit_this_order.work_performed}}</textarea></p>
            {% if request.session.secret_code == "FGadmin!" %}
            <p id="priced_original"> <span class="titles">Priced:</span> {{edit_this_order.priced}}  <button type="button" id="change_button"><a href="#">Change</a></button></p> 
            <p hidden id="priced_dropdown"> <span class="titles">Priced:</span> <select name="priced_edit" id="priced_edit">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select></p>
            {% endif %}
            <input hidden type="text" name="priced_edit" value="No">
            <hr>
            <h3>Material/s Used</h3>
            <table>
                <tr>
                    <th>Quantity</th>
                    <th>Product</th>
                    <th>Unit of Measurement</th>
                    <th>Measurement Amount</th>
                </tr>
                {% for material in edit_this_order.materials.all %}
                <tr>
                    <td>{{material.quantity}}</td>
                    <td>{{material.product}}</td>
                    <td>{{material.measurement}}</td>
                    <td>{{material.measurement_amount}}</td>
                </tr>
                {% endfor %}
                <tr><th colspan="4">Other Material</th></tr>
                <tr>
                    <th>Other: Quantity</th>
                    <th>Other: Product</th>
                    <th>Unit of Measurement</th>
                    <th>Measurement Amount</th>
                </tr>
                {% for one_other_material in edit_this_order.othermaterials.all %}
                <tr>
                    <td>{{one_other_material.other_quantity}}</td>
                    <td>{{one_other_material.other_name}}</td>
                    <td>{{one_other_material.other_measurement}}</td>
                    <td>{{one_other_material.other_measurement_amount}}</td>
                </tr>
                {% endfor %}
            </table>
            <h3>Labor Type</h3>
            <table>
                    <tr>
                        <th>Labor Type</th>
                        <th>Labor Description (if selecting other)</th>
                        <th># of Employees</th>
                        <th>Regular Hours</th>
                        <th>Premium Hours</th>
                        <th>Doubletime Hours</th>
                    </tr>
                    {% for one_labor in edit_this_order.labortypes.all %}
                    <tr>
                        <td>{{one_labor.labor_type}}</td>
                        <td>{{one_labor.labor_description}}</td>
                        <td>{{one_labor.employee_numbers}}</td>
                        <td>{{one_labor.regular_hours}}</td>
                        <td>{{one_labor.premium_hours}}</td>
                        <td>{{one_labor.double_hours}}</td>
                    </tr>
                    {% endfor %}
            </table><br><br><br>
            <hr>
            <div id="contractor_signator">
                <p><span class="titles">Name of General Contractor who Signed the Order:</span> {{edit_this_order.signator_1}} </p>
                <img src="{{edit_this_order.signature_1}}" alt="">
            </div>
            <hr>
            <div id="belcon_signator">
                <p><span class="titles">Name of Belcon Foreman who Signed the Order:</span> {{edit_this_order.signator_2}} </p>
                <img src="{{edit_this_order.signature_2}}" alt="">
            </div>
            <hr>

            <!-- <form action="/save_edit/{{edit_this_order.id}}" method="post">
                {% csrf_token %} -->
            <div id="re-sign">
                <div>
                    <div id="canvas_1">
                        Name of General Contractor Signing: <input type="text" name="signator_1" class="signator_name"
                            id="signator_1" value="{{edit_this_order.signator_1}}"><br><br>
                        Email of General Contractor Signing:  <input type="text" name="general_contractor_email" class="general_contractor_email"
                        id="general_contractor_email" value="{{edit_this_order.general_contractor_email}}"><br><br>  
                        <!-- Start This is the canvas functionality -->
                        <img hidden src="{{edit_this_order.signature_1}}" id="imgConverted"
                            style="float: left; background: none; border: 2px solid blue ;" alt="This is the signature">
                        <canvas id="canvas" style="border:black solid 1px;" width="500" height="150"></canvas>

                        <!-- End This is the canvas functionality -->

                        <!-- Start This is the div for the clear signature and save signature -->

                        <!-- End This is the div for the clear signature and save signature -->
                    </div><br>
                    <p id="TY" hidden>General Contractor has successfully signed! If you see an image of a signature above, <br> that will be replaced with the signature you just saved!</p>
                    <button type="button" onclick="myFunction()">Clear & Re-Sign</button>
                    <input onclick="saveSignature()" type="button" class="thebutton" id="save1" value="Save Signature">
                    <input type="hidden" name="signature_1" value="{{edit_this_order.signature_1}}" id="sign1"><br>
                </div><br><br>

                <div>
                    <div id="canvas2">
                        Name of Belcon Foreman Signing: <input type="text" name="signator_2" class="signator_name"
                            id="signator_2" value="{{edit_this_order.signator_2}}"><br><br>
                        <!-- Start This is the canvas functionality -->
                        <img hidden src="{{edit_this_order.signature_2}}" id="imgConverted2"
                            style="float: left; background: none; border: 2px solid blue ;" alt="This is the signature">
                        <canvas id="canvas_2" style="border:black solid 1px;" width="500" height="150"></canvas>
                        <!-- End This is the canvas functionality -->

                        <!-- Start This is the div for the clear signature and save signature -->

                        <!-- End This is the div for the clear signature and save signature -->
                    </div><br>
                    <p id="TY2" hidden>Belcon foreman has successfully signed! If you see an image of a signature above, <br> that will be replaced with the signature you just saved!</p>
                    <button type="button" onclick="myFunction1()">Clear & Re-Sign</button>
                    <input onclick="saveSignature2()" type="button" class="thebutton" id="save2" value="Save Signature">
                    <input type="hidden" name="signature_2" value="{{edit_this_order.signature_2}}" id="sign2"><br><br>
                </div>
                <input type="submit" value="Sign & Save" class="thebutton" id="sign_save">
            </div>
            </form>
            <div id="empty">

            </div>
        </div>
        {% else %}
        <p>Sorry you will not be able to edit this order. Please click <a href="/">Home</a> to go back to your home page</p>
        {% endif %}
    </div>
      
        <!-- Start This is the javascript for the signature and other functions -->
        <script>
        ;(function() {
        var canvas = document.getElementById("canvas");
        var ctx = canvas.getContext("2d");
        ctx.strokeStyle = "#222222";
        ctx.lineWith = 2;
        // Set up mouse events for drawing
        var drawing = false;
        var mousePos = { x:0, y:0 };
        var lastPos = mousePos;
        canvas.addEventListener("mousedown", function (e) {
                drawing = true;
        lastPos = getMousePos(canvas, e);
        }, false);
        canvas.addEventListener("mouseup", function (e) {
        drawing = false;
        }, false);
        canvas.addEventListener("mousemove", function (e) {
        mousePos = getMousePos(canvas, e);
        }, false);

        // Get the position of the mouse relative to the canvas
        function getMousePos(canvasDom, mouseEvent) {
        var rect = canvasDom.getBoundingClientRect();
        return {
            x: mouseEvent.clientX - rect.left,
            y: mouseEvent.clientY - rect.top
        };
        }
        
        // Get a regular interval for drawing to the screen
        window.requestAnimFrame = (function (callback) {
                return window.requestAnimationFrame || 
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimaitonFrame ||
                function (callback) {
                window.setTimeout(callback, 1000/60);
                };
        })();

        // Draw to the canvas
            function renderCanvas() {
            if (drawing) {
                ctx.moveTo(lastPos.x, lastPos.y);
                ctx.lineTo(mousePos.x, mousePos.y);
                ctx.stroke();
                lastPos = mousePos;
            }
            }

            // Allow for animation
            (function drawLoop () {
            requestAnimFrame(drawLoop);
            renderCanvas();
            })();

            // Set up touch events for mobile, etc
            canvas.addEventListener("touchstart", function (e) {
                    mousePos = getTouchPos(canvas, e);
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousedown", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchend", function (e) {
            var mouseEvent = new MouseEvent("mouseup", {});
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchmove", function (e) {
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousemove", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);

            // Get the position of a touch relative to the canvas
            function getTouchPos(canvasDom, touchEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: touchEvent.touches[0].clientX - rect.left,
                y: touchEvent.touches[0].clientY - rect.top
            };
            }

            // Prevent scrolling when touching the canvas
            document.body.addEventListener("touchstart", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchend", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchmove", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });

            $('#save1').click(function () {
                $('#canvas_1').toggle();
                document.getElementById("TY").hidden = false;
            });

})()

        function myFunction() {
                canvas.width = canvas.width;
            }

            function saveSignature() {
                var dataURI = canvas.toDataURL("image/png");
                sign1.value = dataURI;
                imgConverted.src = dataURI;
            }
    

    
            // Javascript for the second canvas
        ;(function () { 
        var canvas = document.getElementById("canvas_2");
        var ctx = canvas.getContext("2d");
        ctx.strokeStyle = "#222222";
        ctx.lineWith = 2;
        // Set up mouse events for drawing
        var drawing = false;
        var mousePos = { x:0, y:0 };
        var lastPos = mousePos;
        canvas.addEventListener("mousedown", function (e) {
                drawing = true;
        lastPos = getMousePos(canvas, e);
        }, false);
        canvas.addEventListener("mouseup", function (e) {
        drawing = false;
        }, false);
        canvas.addEventListener("mousemove", function (e) {
        mousePos = getMousePos(canvas, e);
        }, false);

        // Get the position of the mouse relative to the canvas
        function getMousePos(canvasDom, mouseEvent) {
        var rect = canvasDom.getBoundingClientRect();
        return {
            x: mouseEvent.clientX - rect.left,
            y: mouseEvent.clientY - rect.top
        };
        }
        
        // Get a regular interval for drawing to the screen
        window.requestAnimFrame = (function (callback) {
                return window.requestAnimationFrame || 
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                window.msRequestAnimaitonFrame ||
                function (callback) {
                window.setTimeout(callback, 1000/60);
                };
        })();

        // Draw to the canvas
            function renderCanvas() {
            if (drawing) {
                ctx.moveTo(lastPos.x, lastPos.y);
                ctx.lineTo(mousePos.x, mousePos.y);
                ctx.stroke();
                lastPos = mousePos;
            }
            }

            // Allow for animation
            (function drawLoop () {
            requestAnimFrame(drawLoop);
            renderCanvas();
            })();

            // Set up touch events for mobile, etc
            canvas.addEventListener("touchstart", function (e) {
                    mousePos = getTouchPos(canvas, e);
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousedown", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchend", function (e) {
            var mouseEvent = new MouseEvent("mouseup", {});
            canvas.dispatchEvent(mouseEvent);
            }, false);
            canvas.addEventListener("touchmove", function (e) {
            var touch = e.touches[0];
            var mouseEvent = new MouseEvent("mousemove", {
                clientX: touch.clientX,
                clientY: touch.clientY
            });
            canvas.dispatchEvent(mouseEvent);
            }, false);

            // Get the position of a touch relative to the canvas
            function getTouchPos(canvasDom, touchEvent) {
            var rect = canvasDom.getBoundingClientRect();
            return {
                x: touchEvent.touches[0].clientX - rect.left,
                y: touchEvent.touches[0].clientY - rect.top
            };
            }

            // Prevent scrolling when touching the canvas
            document.body.addEventListener("touchstart", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchend", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });
            document.body.addEventListener("touchmove", function (e) {
            if (e.target == canvas) {
                e.preventDefault();
            }
            }, { passive: false });



        $('#save2').click(function () {
            $('#canvas2').toggle();
            document.getElementById("TY2").hidden = false;
        })})()

        function myFunction1() {
               document.getElementById('canvas_2').width = document.getElementById('canvas_2').width;
            }
  
  
        function saveSignature2() {
            var dataURI2 = document.getElementById('canvas_2').toDataURL("image/png");
            sign2.value = dataURI2;
            imgConverted2.src = dataURI2;
        }    
    
        $(document).ready(function () {
            $('.joblist').select2();
        });


        function first_dropdown(){
            var b = document.getElementById("job_id").innerHTML
            console.log(b)
            document.getElementById("contractor_edit").value = document.getElementById("job_id").innerHTML
        }
        first_dropdown()

        $('#change_button').click(function() {
            document.getElementById("priced_original").hidden = true;
            document.getElementById("priced_dropdown").hidden = false;
        }

        )
        </script>
</body>

</html>