<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra Work Order - {{this_work_order_email.id}}</title>
</head>
<body>
    <div id="wrapper">
        <div id="created_by">
            <h3 style="color: red;">You are getting this notification as an extra work order may have been fully signed!</h3>
            <h3>Extra work order successfully submitted by {{this_work_order_email.user.first_name}} {{this_work_order_email.user.last_name}} on <span id="updated_at_est">{{this_work_order_email.updated_at}} EST</span></h3>
        </div>
        <div id="actual_order">
            <h3>Extra Work Order No. <a href="http://3.137.176.102/workorderpreview/{{this_work_order_email.id}}">{{this_work_order_email.id}}</a></h3>
            <p><span class="titles">General Contractor:</span> {{this_work_order_email.jobname.contractor_name}}</p>
            <p><span class="titles">Name of Job:</span> {{this_work_order_email.jobname.name}}</p>
            <p><span class="titles">Address:</span> {{this_work_order_email.jobname.street}}, {{this_work_order_email.jobname.city}}, {{this_work_order_email.jobname.state}} {{this_work_order_email.jobname.zip_code}}</p>
            <p><span class="titles">Location of Work Performed:</span> {{this_work_order_email.location}}</p>
            <p> <span class="titles">Date/ Date Range Work Performed:</span> {{this_work_order_email.date_work_performed}}</p>
            <p><span class="titles">Work Performed:</span> {{this_work_order_email.work_performed}}</p>
            <p>. . . . . . . . . . . </p>
            <p>Here is the link to the workorder -  <a href="http://3.137.176.102/workorderpreview/{{this_work_order_email.id}}">Link</a></p><br>
            <p>Belcon Construction Services, Inc.</p><br>
    <p><span id="footer" style="font-size: 8pt; text-decoration: underline;">This email was sent from a notification-only address that cannot accept incoming email. Please do not reply to this message.</span></p>
        </div>
    </div>
</body>
</html>