<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Belcon - Final Invoice</title>
   {% load static %}
   {% load humanize %}
   <link rel="stylesheet" href="{% static 'invoicepreview.css' %}">
   <link rel="stylesheet" href="{% static 'workorderattached.css' %}">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

   <div class="container" id="the_main_wrapper">
      <div class="col-md-12">
         <div class="invoice">
            <!-- begin invoice-company -->
            <div class="invoice-company text-inverse f-w-600">
               BEL-CON Construction Services, Inc.
            </div>
            <!-- begin invoice-header -->
            <div class="invoice-header">
               <div class="invoice-from">
                  <small>From</small>
                  <address class="m-t-5 m-b-5" id="address_1">
                     {% for info in our_company_info %}
                     <strong class="text-inverse">{{info.company_name}}</strong><br>
                     {{info.street}}<br>
                     {{info.city_state_zip}}<br>
                     Phone: {{info.phone_number}}<br>
                     Email: {{info.email_address}}
                     {% endfor %}
                  </address>
               </div>
               <div class="invoice-to">
                  <small>To</small>
                  <address class="m-t-5 m-b-5" id="address_2">
                     <strong class="text-inverse">{{edit_this_order.jobname.contractor_name}}</strong><br>
                     {{edit_this_order.jobname.gc_street}}<br>
                     {{edit_this_order.jobname.gc_city_state_zip}}<br>
                     Phone: {{edit_this_order.jobname.gc_phone}}

                  </address>
               </div>
               <div class="invoice-date">
                  <!-- <small>Invoice Date</small> -->
                  <div class="date text-inverse m-t-5"> CO Date: {{edit_this_order.invoice_date}}</div>
                  <div class="date text-inverse m-t-5">
                     <span>CO# {{edit_this_order.invoice_number}}</span><br>
                  </div>
               </div>
            </div>
            <!-- end invoice-header -->
            <!-- begin invoice-content -->
            <div class="invoice-content">
               <!-- begin table-responsive -->
               <div class="table-responsive">
                  <table class="table table-invoice" id="customers">
                     <thead>
                        <tr>
                           <th colspan="3">Description</th>
                           <!-- <th class="text-center" width="10%">Quantity/ <br> # of Emp</th>
                           <th class="text-center" width="10%">Measurement/ <br> # of Hours</th> -->
                           <th class="text-right" width="20%">Total</th>
                        </tr>
                     </thead>
                     <tr>
                        <td colspan="4">Work Performed: {{edit_this_order.work_performed}}</td>
                     </tr>
                     <tr>
                        <td colspan="4">
                           <small><b>Job:</b> {{edit_this_order.jobname.name}}<br>{{edit_this_order.jobname.street}}<br>{{edit_this_order.jobname.city}},
                              {{edit_this_order.jobname.state}} {{edit_this_order.jobname.zip_code}}</small></td>
                     </tr>
                     <tbody id="invoice_line_items">
                        {% for material in edit_this_order.materials.all %}
                        {% if material.product != "" %}
                        <tr>
                           <td class="text-center">{{material.product}} | {{material.measurement}}</td>
                           <td class="text-center">{{material.quantity}}</td>
                           {% if material.measurement == "EA" or material.measurement == "Box(s)" %}
                           <td class="text-center"></td>
                           {% else %}
                           <td class="text-center">{{material.measurement_amount}}</td>
                           {% endif %}
                           <td class="text-right">${{material.total_material_cost}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        {% for one_other_material in edit_this_order.othermaterials.all %}
                        {% if one_other_material.other_name != "" %}
                        <tr>
                           <td class="text-center">{{one_other_material.other_name}} |
                              {{one_other_material.other_measurement}}</td>
                           <td class="text-center">{{one_other_material.other_quantity}}</td>
                           <td class="text-center">{{one_other_material.other_measurement_amount}}</td>
                           <td class="text-center">${{one_other_material.total_other_material_cost}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                     </tbody>
                     <tr class="totals">
                        <td><button style="background-color: #f1dfcf; border-radius: 3px; border-color: #f1dfcf;"
                              onclick="show_hide_line_items()"><span id="button_sign">-</span></button><b> &#160;Total
                              Material Cost</b></td>
                        <td></td>
                        <td></td>
                        <td><b>${{edit_this_order.material_cost_combined|floatformat:2|intcomma}}</b></td>
                     </tr>
                     <tbody id="labor_line_items">
                        {% for one_labor in edit_this_order.labortypes.all %}
                        <tr>
                           <td>{{one_labor.labor_type}} {{one_labor.labor_description}}</td>
                           <td>{{one_labor.employee_numbers}}</td>
                           <td>{{one_labor.total_hours}}</td>
                           <td>${{one_labor.total_labor_cost}}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                     <tr class="totals">
                        <td><button style="background-color: #f1dfcf; border-radius: 3px; border-color: #f1dfcf;"
                              onclick="show_hide_labor_items()"><span id="button_sign_2">-</span></button><b>
                              &#160;Total Labor Cost</b></td>
                        <td></td>
                        <td></td>
                        <!-- <td><b>${{edit_this_order.labor_cost_combined}}</b></td> -->
                        <td><b>${{ edit_this_order.labor_cost_combined|floatformat:2|intcomma }}</b></td>
                     </tr>
                     <tr class="totals" id="overhead_profit" onclick="hide_overhead_profit()">
                        <td><b>&#160;&#160;&#160;&#160;&#160;&#160;&#160;Overhead & Profit</b></td>
                        <td></td>
                        <td></td>
                        <!-- <td><b>${{edit_this_order.overhead_profit}}</b></td> -->
                        <td><b>${{ edit_this_order.overhead_profit|floatformat:2|intcomma }}</b></td>
                     </tr>
                     <tr class="totals">
                        <td><b>&#160;&#160;&#160;&#160;&#160;&#160;&#160;Grand Total</b></td>
                        <td></td>
                        <td></td>
                        <!-- <td><b>${{edit_this_order.total_invoice_amount}}</b></td> -->
                        <td><b>${{ edit_this_order.total_invoice_amount|floatformat:2|intcomma }}</b></td>
                     </tr>
                     {% if edit_this_order.memo != "" %}
                     <tr>
                        <td colspan="4">{{edit_this_order.memo}}</td>
                     </tr>
                     {% endif %}
                  </table>
               </div>

               <!-- end table-responsive -->
               <!-- begin invoice-price -->
               <!-- <div class="invoice-price">
                   <div class="invoice-price-left">
                      <div class="invoice-price-row">
                         <div class="sub-price">
                            <small></small>
                            <span class="text-inverse"></span>
                         </div>
                         <div class="sub-price">
                            <i class="fa fa-plus text-muted"></i>
                         </div>
                         <div class="sub-price">
                            <small></small>
                            <span class="text-inverse"></span>
                         </div>
                      </div>
                   </div>
                   <div class="invoice-price-right">
                      <small>TOTAL</small> <span class="f-w-600">${{edit_this_order.total_invoice_amount}}</span>
                   </div>
                </div> -->
               <!-- end invoice-price -->
            </div>
            <!-- end invoice-content -->
            <!-- begin invoice-note -->
            <div class="invoice-note">
               <div class="contents_in_box">
                  <p style="width: 300px; font-size: large;">Thank you for your prompt payment!<br>Maria Zarfino<br></p>
               </div>
               <div class="contents_in_box" id="signature_image_div">
                  <p style="width: 300px; height: 90px; "></p><br><br>
               </div>

            </div>
            <div id="footer">
               <p id="gc_name_under_signature">{{edit_this_order.jobname.contractor_name}}</p>
            </div>
            <!-- end invoice-note -->
         </div>
      </div>
      <p  style="page-break-after: always;">&nbsp;</p>
      <!-- Attached workorder here as well -->
      <div id="wrapper">
         <div id="header">
            <div class="head" id="logo_image_div">
               <a href="/"><img id="logo" src="{% static 'logobelcon.png' %}" alt="This is the logo"></a>
            </div>
            <div class="head" id="contact">
               <p class="contact">147 Roseland Ave</p>
               <p class="contact">Caldwell, NJ 07006</p>
               <p class="contact">P (973) 396-1336</p>
            </div>
         </div>
         <div id="actual_order">
            <h3>Extra Work Order No. {{this_work_order.id}} | Submitted on: {{this_work_order.updated_at}} EST</h3>
            <p> <span class="titles">General Contractor:</span> {{this_work_order.jobname.contractor_name}}</p>
            <p> <span class="titles">Name of Job:</span> {{this_work_order.jobname.name}}</p>
            <p> <span class="titles">Address:</span> {{this_work_order.jobname.street}},
               {{this_work_order.jobname.city}}, {{this_work_order.jobname.state}} {{this_work_order.jobname.zip_code}}
            </p>
            <p> <span class="titles">Reason For Pricing:</span> {{this_work_order.request_for_pricing}}</p>
            <p> <span class="titles">Location of Work Performed:</span> {{this_work_order.location}}</p>
            <p> <span class="titles">Date/ Date Range Work Performed:</span> {{this_work_order.date_work_performed}}</p>
            <p> <span class="titles">Work Performed:</span> {{this_work_order.work_performed}}</p>
            <hr>
            <h3>Material/s Used</h3>
            <table class="wo_table">
               <tr>
                  <th>Quantity</th>
                  <th>Product</th>
                  <th>Unit of Measurement</th>
                  <th>Measurement Amount</th>
               </tr>
               {% for material in this_work_order.materials.all %}
               <tr>
                  <td>{{material.quantity}}</td>
                  <td>{{material.product}}</td>
                  <td>{{material.measurement}}</td>
                  <td>{{material.measurement_amount}}</td>
               </tr>
               {% endfor %}
               <tr>
                  <th colspan="4">Other Material</th>
               </tr>
               <tr>
                  <th>Quantity</th>
                  <th>Product</th>
                  <th>Unit of Measurement</th>
                  <th>Measurement Amount</th>
               </tr>
               {% for one_other_material in this_work_order.othermaterials.all %}
               {% if one_other_material.other_name != "" %}
               <tr>
                  <td>{{one_other_material.other_quantity}}</td>
                  <td>{{one_other_material.other_name}}</td>
                  <td>{{one_other_material.other_measurement}}</td>
                  <td>{{one_other_material.other_measurement_amount}}</td>
               </tr>
               {% endif %}
               {% endfor %}
            </table>
            <h3>Labor Type</h3>
            <table class="wo_table" id="labor_table" >
               <tr>
                  <th>Labor Type</th>
                  <th>Labor Description (if selecting other)</th>
                  <th># of Employees</th>
                  <th>Regular Hours</th>
                  <th>Premium Hours</th>
                  <th>Doubletime Hours</th>
               </tr>
               {% for one_labor in this_work_order.labortypes.all %}
               <tr>
                  <td>{{one_labor.labor_type}}</td>
                  <td>{{one_labor.labor_description}}</td>
                  <td>{{one_labor.employee_numbers}}</td>
                  <td>{{one_labor.regular_hours}}</td>
                  <td>{{one_labor.premium_hours}}</td>
                  <td>{{one_labor.double_hours}}</td>
               </tr>
               {% endfor %}
            </table><br><br>
            <div id="contractor_signator">
               <p><span class="titles">Name of General Contractor who Signed the Order:</span>
                  {{this_work_order.signator_1}} </p>
               <p><b>We agree to pay for the above work on the basis of cost of material, labor,<br>
                     insurance and taxes, on labor and direct costs, plus overhead and profit.</b></p>
               <img style="max-height: 90px;" src="{{this_work_order.signature_1}}" alt="">
            </div>
            <hr>
            <div id="belcon_signator">
               <p><span class="titles">Name of Belcon Foreman who Signed the Order:</span>
                  {{this_work_order.signator_2}} </p>
               <img style="max-height: 90px;" src="{{this_work_order.signature_2}}" alt="">
            </div>
         </div>
      </div>
      <!-- end workorder -->
   </div>

   <script>
      function show_hide_line_items() {
         var the_sign = document.getElementById('button_sign').innerHTML
         if (the_sign == "-") {
            $("#invoice_line_items").hide();
            var positive = "+"
            document.getElementById('button_sign').innerHTML = positive
         }
         else {
            $("#invoice_line_items").show();
            var negative = "-"
            document.getElementById('button_sign').innerHTML = negative
         }
      }

      function show_hide_labor_items() {
         var the_sign = document.getElementById('button_sign_2').innerHTML
         if (the_sign == "-") {
            $("#labor_line_items").hide();
            var positive = "+"
            document.getElementById('button_sign_2').innerHTML = positive
         }
         else {
            $("#labor_line_items").show();
            var negative = "-"
            document.getElementById('button_sign_2').innerHTML = negative
         }
      }

      function hide_overhead_profit(){
         $("#overhead_profit").hide()
      }
   </script>
</body>

</html>