<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belcon Extra Work Order Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Register</h3>
                <form action="/create_account" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="first_name" placeholder="First Name *" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="last_name" placeholder="Last Name *"/>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Your Email *"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Your Password -  Minimum 7 characters *"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password *"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="secret_code" placeholder="Secret Code *" value="" />
                    </div>
                    <input hidden type="text" name="active" value="Active" id="">
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Register"/>
                    </div>
                    <div class="form-group">
                        <a href="/"><img id="logo" src="{% static 'logobelcon.png' %}" alt="This is the logo"></a>
                    </div>
                </form>
                <div class="form-group">
                    {% if messages %}
                    <ul>
                        <li id="heading_errors">The below errors took place while registering</li>
                        {% for message in messages %}
                        <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 login-form-2">
                <h3>Login</h3>
                    <form action="/login" method="post">
                        {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="logged_email" placeholder="Your Email *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="logged_password" placeholder="Your Password *" value="" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit" value="Login" />
                    </div>
                    <div class="form-group">
                        <p id="error_login">{{request.session.failed_login}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        setTimeout(fade_out, 4000);
        function fade_out() {
            $("#error_login").fadeOut().empty();
        }
    </script>
</body>

</html>