<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create & View Jobs</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'jobname.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h2>Create Project/Job</h2>
        </div>
        <button><a href="/">Creating a New Extra Work Order</a></button>
        <button><a href="/workorder">Back to All Extra Work Orders</a></button>
        <div id="form_1">
            <form action="/create_jobname" method="post">
                {% csrf_token %}
                General Contractor: <select name="gc_dropdown" id="gc_dropdown">
                    <option selected="true" disabled="disabled">Select One or Enter Manually</option>
                    {% for one_gc in unique_contractor_names %}
                    <option value="{{one_gc}}">{{one_gc}}</option>
                    {% endfor %}
                </select>
                <input type="text" name="contractor_name" id=""> **if not gc, then please enter none<br><br>
                GC_Street: <input type="text" name="gc_street" id="gc_street"><br><br>
                GC_City/State/Zip: <input type="text" name="gc_city_state_zip" id="gc_city_state_zip"><br><br>
                GC_Phone: <input type="text" name="gc_phone" id="gc_phone"><br><br>
                Name of Job: <input type="text" name="job_name" id=""><br><br>
                <p>Full Address Below:</p>
                <div id="address">
                    Street: <input type="text" name="street" id="">
                    City: <input type="text" name="city" id="">
                    State: <input type="text" name="state" id="" placeholder="Ex: NJ">
                    Zipcode: <input type="number" name="zipcode" placeholder="Ex: 08895" id="">
                </div> <br>
                <input id="create_button" type="submit" value="Create">
            </form>
        </div>
        <div>
            <table>
                <tr>
                    <th>General Contractor</th>
                    <th>Name of Job</th>
                    <th>Job Address</th>
                    <th>Delete Job</th>
                    <th>Edit Job</th>

                </tr>
                {% for one_job in all_jobs reversed %}
                <tr>
                    <td>{{one_job.contractor_name}}</td>
                    <td>{{one_job.name}}</td>
                    <td>
                        <ul>
                            <li>{{one_job.street}}</li>
                            <li>{{one_job.city}} {{one_job.state}}, {{one_job.zip_code}}</li>
                        </ul>
                    </td>
                    <td>
                        <button><a href="/delete_job/{{one_job.id}}">Delete Job</a></button>
                    </td>
                    <td>
                        <form action="/edit_job/{{one_job.id}}" method="post">
                            {% csrf_token %}
                            General Contractor: <input type="text" name="contractor_name_edit" value="{{one_job.contractor_name}}" id="edit_contractor1"><br><br>
                            Name of Job: <input type="text" name="job_name_edit" value="{{one_job.name}}" id="edit_name1"><br><br>
                            GC_Street: <input type="text" name="gc_street_edit" value="{{one_job.gc_street}}"  id="gc_street_edit1"><br><br>
                            GC_City/State/Zip: <input type="text" name="gc_city_state_zip_edit" value="{{one_job.gc_city_state_zip}}" id="gc_city_state_zip_edit1"><br><br>
                            GC_Phone: <input type="text" name="gc_phone_edit" value="{{one_job.gc_phone}}" id="gc_phone_edit1"><br><br>
                            <div id="edit_address">
                                Street: <input type="text" name="street_edit" value="{{one_job.street}}" id="edit_street1">
                                City: <input type="text" name="city_edit" value="{{one_job.city}}" id="edit_city1">
                                State: <input type="text" name="state_edit" value="{{one_job.state}}" id="edit_state1" placeholder="Ex: NJ">
                                Zipcode: <input type="number" name="zipcode_edit" value="{{one_job.zip_code}}" placeholder="Ex: 123456" id="edit_zipcode1">
                            </div> <br>
                            <input id="create_button" type="submit" value="Edit Job">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script>
         $(document).ready(function () {
            $('#gc_dropdown').select2();
        });
    </script>
</body>

</html>