<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create & View Labor Rates</title>
    {% load static %}
    {% load humanize %}
    <link rel="stylesheet" href="{% static 'jobname.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>Create Labor Type & Rate</h2>
        </div>
        <button><a href="/">Creating a New Extra Work Order</a></button>
        <button><a href="/workorder">Back to All Extra Work Orders</a></button><br><br>
        <hr>
        <div id="form_1">
            <h4>Create Labor Type Here</h4>
            <div id="create_labor_types">
                <form action="/create_labor_type" method="post">
                    {% csrf_token %}
                  Labor Type Name: <input type="text" name="labor_type_name" id="labor_type_name_id">
                  <input id="create_button" type="submit" value="Create Labor Type">
                </form><br><br>
                <table>
                    <tr>
                        <th>Labor Type ID</th>
                        <th>Labor Type Name</th>
                        <th>Delete Type</th>
                    </tr>
                    {% for one_labor_type in all_labor_types %}
                    <tr>
                        <td>{{one_labor_type.id}}</td>
                        <td>{{one_labor_type.labor_type_name}}</td>
                        <td><button><a href="#">Delete Labor Type</a></button></td>
                    </tr>
                    {% endfor %}
                </table>
            </div><br><br>
            <hr><br>
            <h4>Assign Hourly Rates To Labor Types</h4>
            <form action="/create_labor_rate" method="post">
                {% csrf_token %}
               Labor Type: <select name="labor_type_name" id="labor_type_name" class="labor_type_name_dropdown">
                <option value="Carpenter - Foreman">Carpenter - Foreman</option>
                <option value="Carpenter - Journeyman">Carpenter - Journeyman</option>
                <option value="Taper - Journeyman">Taper - Journeyman</option>
                <option value="Taper - Foreman">Taper - Foreman</option>
                <option value="Laborer">Laborer</option>
                <option value="Supervisor">Supervisor</option>
            </select><br><br>
                Job Name: <select name="job_name" id="job_name">
                    <option selected="true" disabled="disabled">Select One</option>
                    {% for one_job in all_jobs %}
                    <option value="{{one_job.name}}">{{one_job.name}}</option>
                    {% endfor %}
                </select><br><br>
                Hourly_Rate: <input type="text"  name="labor_hourly_rate" placeholder="50.89" id="price"><br><br>
                <input id="create_button" type="submit" value="Create Labor Rate">
            </form>
        </div>
        <div id="upload_material">
            <p><form action="/upload_labor_rate" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="file1">Bulk Upload Labor Rate</label>
                <input type="file" id="file1" name="file">
                <small>Only accepts CSV files</small>
                <input style="background-color: #EFEFEF !important; font-weight: bold;" id="submit_button" type="submit" value="Upload">
            </form></p>
            <p><button><a href="/delete_all_labor_rates">Delete All</a></button>&#160;&#160;<button><a href="/download_all_labor_rates">Download Labor Rates Report</a></button>&#160;&#160; <button><a href="/download_labor_rate_template">Download Labor Rate Upload Template</a></button></p>
        </div>
        <div>
            <table>
                <tr>
                    <th>Job Name</th>
                    <th>Labor Type</th>
                    <th>Hourly Rate</th>
                    <th>Delete Rate</th>
                </tr>
                {% for one_rate in all_labor_rates reversed %}
                <tr>
                    <td>{{one_rate.job_name}}</td>
                    <td>{{one_rate.labor_type_name}}</td>
                    <td>${{one_rate.labor_hourly_rate|floatformat:2|intcomma}}</td>
                    <td><button><a href="/delete_labor_rate/{{one_rate.id}}">Delete Rate</a></button></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script>
        $("#price").on("input", function(evt) {
            var self = $(this);
            self.val(self.val().replace(/[^0-9\.]/g, ''));
            if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) 
            {
                evt.preventDefault();
            }
            });

            $(document).ready(function () {
            $('.labor_type_name_dropdown').select2();
            $('#job_name').select2();
        });
        
    </script>
</body>

</html>