<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Order Preview</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'showworkorder.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script defer src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"
        defer></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div class="head" id="logo_image_div">
                <a href="/"><img id="logo" src="{% static 'logobelcon.png' %}" alt="This is the logo"></a>
            </div>
            <div class="head" id="contact">
                <p class="contact">147 Roseland Ave</p>
                <p class="contact">Caldwell, NJ 07006</p>
                <p class="contact">P (973) 396-1336</p>
            </div>
        <div id="links">
            <button><a href="/">Creating a New Extra Work Order</a></button>
            <button><a href="/logout">Logout</a></button>
            {% if request.session.user_id == this_work_order.user.id or request.session.secret_code == "FGadmin!" %}
            <button id="edit_button"><a id="edit_view" href="/edit/{{this_work_order.id}}">Edit Order</a></button>
            {% endif %}
            {% if request.session.secret_code == "FGadmin!" %}
            <button><a href="/workorder">Admin View</a></button>
            {% else %}
            <button class="thelinks"><a href="/myworkorders/{{request.session.user_id}}">My Work Orders</a></button>
            {% endif %}
        </div>
        <div id="created_by">
            <h3>Extra work order successfully submitted by {{this_work_order.user.first_name}} {{this_work_order.user.last_name}} on <span id="updated_at_est">{{this_work_order.updated_at}} EST</span></h3>
        </div>
        <div id="actual_order">
            <h3>Extra Work Order No. {{this_work_order.id}}</h3>
            <p><span class="titles">General Contractor:</span> {{this_work_order.jobname.contractor_name}}</p>
            <p><span class="titles">Name of Job:</span> {{this_work_order.jobname.name}}</p>
            <p><span class="titles">Address:</span> {{this_work_order.jobname.street}}, {{this_work_order.jobname.city}}, {{this_work_order.jobname.state}} {{this_work_order.jobname.zip_code}}</p>
            <p><span class="titles">Location of Work Performed:</span> {{this_work_order.location}}</p>
            <p> <span class="titles">Date/ Date Range Work Performed:</span> {{this_work_order.date_work_performed}}</p>
            <p><span class="titles">Work Performed:</span> {{this_work_order.work_performed}}</p>
            <hr>
            <h3>Material/s Used</h3>
            <table>
                <tr>
                    <th>Quantity</th>
                    <th>Product</th>
                    <th>Unit of Measurement</th>
                    <th>Measurement Amount</th>
                </tr>
                {% for material in this_work_order.materials.all %}
                <tr>
                    <td>{{material.quantity}}</td>
                    <td>{{material.product}}</td>
                    <td>{{material.measurement}}</td>
                    <td>{{material.measurement_amount}}</td>
                </tr>
                {% endfor %}
                <tr><th colspan="4">Other Material</th></tr>
                <tr>
                    <th>Quantity</th>
                    <th>Product</th>
                    <th>Unit of Measurement</th>
                    <th>Measurement Amount</th>
                </tr>
                {% for one_other_material in this_work_order.othermaterials.all %}
                <tr>
                    <td>{{one_other_material.other_quantity}}</td>
                    <td>{{one_other_material.other_name}}</td>
                    <td>{{one_other_material.other_measurement}}</td>
                    <td>{{one_other_material.other_measurement_amount}}</td>
                </tr>
                {% endfor %}
            </table>
            <h3>Labor Type</h3>
            <table>
                <tr>
                    <th>Labor Type</th>
                    <th>Labor Description (if selecting other)</th>
                    <th># of Employees</th>
                    <th>Regular Hours</th>
                    <th>Premium Hours</th>
                    <th>Doubletime Hours</th>
                </tr>
                {% for one_labor in this_work_order.labortypes.all %}
                <tr>
                    <td>{{one_labor.labor_type}}</td>
                    <td>{{one_labor.labor_description}}</td>
                    <td>{{one_labor.employee_numbers}}</td>
                    <td>{{one_labor.regular_hours}}</td>
                    <td>{{one_labor.premium_hours}}</td>
                    <td>{{one_labor.double_hours}}</td>
                </tr>
                {% endfor %}

            </table><br><br><br>
            <hr>
            <div id="contractor_signator">
                <p><span class="titles">Name of General Contractor who Signed the Order:</span> {{this_work_order.signator_1}} </p>
                <p><b>We agree to pay for the above work on the basis of cost of material, labor,<br>
                    insurance and taxes, on labor and direct costs, plus overhead and profit.</b></p>
                <img src="{{this_work_order.signature_1}}" alt="">
            </div>
            <hr>
            <div id="belcon_signator">
                <p><span class="titles">Name of Belcon Foreman who Signed the Order: {{this_work_order.signator_2}}</span> </p>
                <img src="{{this_work_order.signature_2}}" alt="">
            </div>
            <hr>
            <div id="empty">

            </div>
        </div>
        <p hidden id="sign1">{{this_work_order.signature_1}}</p>
        <p hidden id="sign2">{{this_work_order.signature_2}}</p>
    </div>

    <script>
        function editNon(){
            var x = document.getElementById('sign1').innerHTML
            var y = document.getElementById('sign2').innerHTML
            if (x == "" || y == ""){
                console.log("None are signed")
            }
            else {
                document.getElementById('edit_view').href = "#"
                document.getElementById('edit_button').style.display = "none";
            }   
        }
        editNon();
    </script>
</body>
</html>
