<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Work Orders - Admin View</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'workorder.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <h1 class="head">All Work Orders</h1>
            <div class="head"> 
                <button><a href="/">Creating New Extra Work Order</a></button>
                <button><a href="/jobname">Create New Job</a></button>
                <button><a href="/logout">Logout</a></button>
                <button><a href="/all_users">All User Accounts</a></button>
            </div>
        </div>
        <div id="main_table">
            <table>
                <tr>
                    <th>Work Order No.</th>
                    <th>Created By</th>
                    <th>General Contractor</th>
                    <th>Job Name</th>
                    <th>Location of Work Performed</th>
                    <th>Priced</th>
                    <th>Signature of General Contractor</th>
                    <th>Signature of Belcon Foreman</th>
                    <th>Actions</th>
                    <th>Change To Priced</th>
                </tr>
                {% for one_work_order in all_work_orders reversed %}
                <tr>
                    <td><a href="/show_work_order/{{one_work_order.id}}">{{one_work_order.id}}</a></td>
                    <td>{{one_work_order.user.first_name}} {{one_work_order.user.last_name}}</td>
                    <td>{{one_work_order.jobname.contractor_name}}</td>
                    <td>{{one_work_order.jobname.name}}</td>
                    <td>{{one_work_order.location}}</td>
                    {% if one_work_order.priced == "No" %}
                    <td id="priced_no">{{one_work_order.priced}}</td>
                    {% else %}
                    <td id="priced_yes">{{one_work_order.priced}}</td>
                    {% endif %}
                    <td><img src="{{one_work_order.signature_1}}" alt="Signature of contractor" srcset=""></td>
                    <td><img src="{{one_work_order.signature_2}}" alt="Signature of belcon foreman" srcset=""></td>
                    <td>
                        <button><a href="/delete/{{one_work_order.id}}">Delete Work Order</a></button>
                        <button><a href="/edit/{{one_work_order.id}}">Edit Work Order</a></button>
                    </td>
                    <td id="pricing_option">
                        {% if one_work_order.priced != "Yes" %}
                        <form action="/save_edit_here/{{one_work_order.id}}" method="post">
                            {% csrf_token %}
                            <input hidden type="text" name="priced_edit" value="Yes">
                            <input id="submit_button" type="submit" value=" &#10003;">
                        </form>
                        {% else %}
                      
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <script>
        
    </script>
</body>
</html>